/* AMR 
  backgroud : rgba 
  color : #

  color: #5e5c68; 기본
  color: #363636; 타이틀
  color: #9f9f9f; 서브타이틀
  color: #275791; 파랑
  color: #e03a3e; 빨강

  background: #f7f8fa; 밝은 회색
  background: #3da4fa; 하늘
  background: #dce6f2; 엹은 하늘

  border: 1px solid #e2e2f0;
}
*/

/* defult */
body.c_btm_hide {
  #connect_wrap {
    #content {
      height: calc(100% - 60px);
    }
  }

  #connect_btm {
    display: none;
  }
}

.hide {
  display: none!important;
}

.align_center {
  text-align: center!important;
}

.text_hide {
  line-height: 0px;
  font-size: 0px;
  text-indent: -999px;
}

.chevron_prev {
  padding: 0px;
  width: 40px;
  height: 40px;
  background: url(../image/arrow_left.png) no-repeat center;
  background-size: 12px auto;
}

.sub_title {
  font-size: 18px;
  font-weight: bold;
  color: #363636;
}

.sub_more {
  color: #9f9f9f;
}

.textbox_basic {
  width: 100%;
  height: 40px;
  border: 1px solid #e2e2f0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #5e5c68;
}

.textbox_basic:focus {
  border:1px solid rgba(0,160,200,1.0);
}

.textbox_basic + .fa-microphone {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 20px;
}

.new_message {
  position: absolute;
  top: 42px;
  right: 14px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e03a3e;
  text-align: center;

  .message_num {
    line-height: 22px;
    color: #fff;
  }
}

.chat_time {
  font-size: 13px;
}

.chatting {
  margin: 0px 0px 10px 0px;

  li {
    position: relative;
  }

  li + li {
    margin: 4px 0px 0px 0px;
  }

  a {
    display: block;
    padding: 14px 54px 14px 84px;
    
    .label, .last_text {
      display: block;
    }

    .label {
      font-size: 15px;
      font-weight: bold;
      color: #363636;
    }

    .last_text {
      background-color: #fff;
      overflow: hidden;
      height: 40px;
      margin: 4px 0px 0px 0px;
      color: #5e5c68;
    }
  }

  .image {
    position: absolute;
    top: 17px;
    left: 10px;
    width: 56px;
    height: 56px;
  }

  .chat_time {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.image {
  position: relative;
  overflow: hidden;
  border: 1px solid #e2e2f0;
  border-radius: 50%;

  img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 100%;
    height: 100%;
  }
}

.btn_chat {
  display: inline-block;
  background-color: #dce6f2;
}
/* //defult */

/* connect 상, 하단 바 */
#connect_wrap {
  overflow: hidden;
  position: fixed;
  bottom: 50px;
  right: 30px;
  min-width: 320px;
  width: 350px;
  height: 80%;
  border-radius: 8px;
  border: 1px solid #e2e2f0;

  .connect_top {
    overflow: hidden;
    height: 60px;
    text-align: center;
    font-size: 16px;
    background-color: rgba(255,255,255,1.0);
  
    .title {
      em {
        margin: 0px 0px 0px 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .mainlogo {
        display: inline-block;
        margin: 22px 0px 0px 0px;

        img {
          width: 160px;
        }
      }

      .subtitle {
        display: inline-block;
        width: calc(100% - 100px);
        margin: 15px 0px 0px 0px;
        text-align: left;

        .image , em {
          vertical-align: top;
          margin: 0px 0px 0px 6px;
        }
      }

      .image {
        display: inline-block;
        width: 32px;
        height: 32px;
      }

    }
  
    .chevron_prev {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  #content {
    overflow: auto;
    height: calc(100% - 135px);
    // margin: 60px 0px 75px 0px;
    background-color: rgba(255,255,255,1.0);
  }

  /* service_list 스크롤 효과 */
  #content.scroll_effect {
    overflow: auto;
  }

  #connect_btm {
    height: 75px;
    padding: 4px 0px 0px 0px;
    border-top: 1px solid #e2e2f0;
    background-color: #fff;

    #wrapper {
      overflow: hidden;
      height: 100%;
      padding: 0px 16px;
      text-align: center;

      > div {
        position: relative;
        display: inline-block;
        height: 100%;

        > a {
          display: block;
          height: 100%;
          padding: 0px 20px;
        }

        .fas, .far {
          padding: 10px 0px 0px 0px;
          font-size: 22px;
          color: #275791;
        }

        .label {
          display: block;
          font-size: 12px;
          color: #275791;
        }
      }

      .lefe_side {
        display: block;
        float: left;
        margin: 0px 0px 0px 20px;
      }

      .right_side {
        display: block;
        float: right;
        margin: 0px 20px 0px 0px;
      }

      .chat_list {
        background: url(../image/circle_bg.png) no-repeat center 4px;
        background-size: 50px;

        .fas, .far {
          padding: 13px 0px 0px 0px;
          font-size: 30px;
          color: #fff;
          transform: rotateY(180deg);
        }
      }

      .chat_list + .new_message {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }
}
/* //connect 상, 하단 바 */

/* content home screen */
.home_screen {
  padding: 16px;

  .srch_box {
    position: relative;
    width: 100%;
    margin: 0px 0px 26px 0px;

    .textbox_basic {
      padding: 0px 34px 0px 16px;
      border-radius: 12px;
      background-color: #eff9ff;
    }

    .fa-microphone {
      color: #275791;
    }
  }

  .service {
    position: relative;
    margin: 0px 0px 26px 0px;

    /* swiper css */
    .company_list {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 15px 0px;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 6px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0px 4px;
    }

    .swiper-pagination {
      padding: 0px 8px 0px 0px;
      text-align: right;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border: 1px solid #e2e2f0;
      background-color: #fff;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: 36px;
      border-radius: 4px;
      background-color: #fff;
    }

    .swiper_label {
      overflow: hidden;
      position: absolute;
      top: 55px;
      left: 0px;
      text-align: center;
      color: #fff;
      z-index: 1;

      .label {
        display: none;

        > span {
          display: inline-block;
          min-width: 100px;
          min-height: 34px;
          padding: 6px 20px;
          background-color: rgba(0,0,0,0.5);
          vertical-align: top;
        }

        > div {
          display: inline-block;
          width: 34px;
          height: 34px;
          border: 17px solid transparent;
          border-left: 17px solid rgba(0,0,0,0.5);
          vertical-align: top;
        }
      }

      .label.on {
        display: block;

        &:before {
          display: block;
        }
      }
    }

    .recent_list {
      li {
        display: inline-block;
        width: 100%;
        height: 150px;
    
        a {
          display: block;
          height: 100%;
          text-align: center;

          img {
            width: 100%;
            min-height: 150px;
          }
        }
      }
    }

    .sub_more {
      position: absolute;
      top: 14px;
      right: 5px;
    }
    
    .category {
      margin: 30px 0px;
      text-align: center;
      
      li {
        position: relative;
        display: inline-block;
        width: 30%;
        margin: 4px 0px;
        vertical-align: top;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          right: 20px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #e2e8fe;
        }

        > a {
          position: relative;
          display: block;
          height: 100%;
          padding: 12px 0px;
        }

        .fas {
          font-size: 30px;
          color: #275791;
        }

        .label {
          display: block;
          color: #7c7c7c;
          margin: 12px 0px 0px 0px;
        }
      }
    }
  }
}
/* //content home screen */

/* content cschat */
.cschat_body {
  position: relative;
  height: 100%;

  .dialog {
    display: none;
  }
}

.cschat_mid {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 55px;
}

.cschat_btm {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0px 12px 8px 12px;
  font-size: 16px;

  .user_menu {
    display: inline-block;
    position: relative;
    vertical-align: top;

    .menu_open {
      width: 40px;
      height: 40px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 19px;
        left: 10px;
        width: calc(100% - 19px);
        height: 3px;
        background-color: #00a0c8;

      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 19px;
        width: 3px;
        height: calc(100% - 19px);
        background-color: #00a0c8;

      }
    }

    .menu {
      display: none;
      position: absolute;
      bottom: calc(100% + 10px);
      left: 12px;
      width: 150px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        border: 10px solid transparent;
        border-top-color: #e2e2f0;
      }

      li {
        a {
          display: block;
          padding: 10px 20px;
          font-size: 15px;
          color: #363636;
        }
      }

      li + li {
        border-top: 1px solid #e2e2f0;
      }
    }

    .menu.on {
      display: block;
    }
  }

  .user_writes {
    position: relative;
    display: inline-block;
    width: calc(100% - 80px);
    height: 100%;

    button {
      position: absolute;
      top: 0px;
      left: calc(100% + 2px);
      width: 40px;
      height: 40px;
      background: rgba(0,160,200,1.0) url(../image/ico_send_trans.png) no-repeat;
      background-size: contain;
    }
  }

  .textbox_basic {
    overflow: auto;
    padding: 9px 8px 6px 8px;
  }
}

/* 모달 backdrop */
.cschat_body.backdrop {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(247,248,250,1.0);
    z-index: 10;
  }

  .dialog {
    overflow: auto;
    position: relative;
    display: block;
    height: 100%;
    padding: 8px 10px;
    z-index: 11;

    > div {
      display: none;
    }

    > div.on {
      display: block;
    }
  }
}

.cs_talk {
  overflow: auto;
  height: 100%;
  color: #5e5c68;
  padding: 16px 10px;

  li + li {
    margin-top: 16px;
  }

  .date {
    position: relative;
    padding: 8px 0px;
    text-align: center;
    font-size: 12px;
  
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0%;
      width: 100%;
      height: 1px;
      background-color: rgba(236,236,250,1.0);
    }

    em {
      display: inline-block;
      position: relative;
      padding: 0px 10px;
      background-color: #fff;
      color: #403738;
    }
  }

  .date.chatend {
    em:first-child {
      display: none;
    }
  }

  .system_entry {
    position: relative;
    text-align: center;
    font-size: 12px;
  
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0%;
      width: 100%;
      height: 1px;
      background-color: rgba(236,236,250,1.0);
    }

    span {
      font-weight: bold;
    }

    em {
      display: inline-block;
      position: relative;
      padding: 0px 10px;
      background-color: #fff;
      color: #403738;
    }
  }

  li.bot {
    overflow: hidden;
    position: relative;
    min-height: 34px;
    padding: 0px 65px 0px 55px;
    text-align: left;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 10px;
      width: 34px;
      height: 34px;
      border-radius: 8px;
      background: rgba(255,255,255,1.0) url(../image/sample/bot_profile.png) no-repeat center;
      background-size: cover;
    }

    .message {
      border-radius: 0px 20px 0px 20px;
      background-color: rgba(247,248,250,1.0);
    }

    div.time {
      position: absolute;
      bottom: 0%;
      left: calc(100% + 4px);
      width: 56px;
      text-align: center;
      
      .time {
        font-size: 11px;
        // color: #9f9f9f;
      }
    }
  }

  li.user {
    overflow: hidden;
    padding: 0px 10px 0px 80px;
    text-align: right;

    .message {
      border-radius: 0px 10px 0px 10px;
      background-color: rgba(0,160,200,1.0);
      color: #fff;

      div.time {
        position: absolute;
        bottom: 0%;
        right: calc(100% + 4px);
        width: 56px;
        text-align: center;
        
        .time {
          font-size: 11px;
          color: #5e5c68;
        }
      }
    }
  }

  .message {
    position: relative;
    display: inline-block;
    padding: 8px 8px 7px 10px;
    text-align: left;
    word-break: break-all;
  }
}
/* //content cschat */

/* content company list */
.companies {
  padding: 16px;

  .selectbox {
    width: 150px;

    .select {
      width: 100%;
      font-size: 16px;
      border: 1px solid #e2e2f0;
      border-radius: 4px;
      padding: 8px 12px;
      background: url(../image/ico_sortDown_select.png) no-repeat right 10px center;
      background-size: 15px;

      &:focus {
        border-color: #275791;
      }

      option {
        color: #5e5c68;
      }
    }
  }

  .horizon_list {
    padding: 10px 0px 0px 0px;

    li {
      position: relative;
      margin: 24px 0px 0px 0px;
    }
  
    a {
      position: relative;
      display: block;
      margin: 18px 0px 0px 10px;
      padding: 24px 0px 28px 0px;
      border-radius: 20px;
      box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.3);
    }
  
    .company_img {
      position: absolute;
      top: -18px;
      left: -10px;
      width: 100px;
      min-height: 100px;
      border: 1px solid #e2e2f0;
      border-radius: 12px;
    }

    .label, .label_explane {
      display: block;
      margin: 0px 50px 0px 108px;
      word-break: break-all;
    }

    .label {
      line-height: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #5e5c68;
    }

    .label_explane {
      overflow: hidden;
      max-height: 54px;
      margin-top: 4px;
      line-height: 18px;
      font-size: 16px;
      color: #7c7c7c;
    }

    .favorites {
      overflow: hidden;
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 50px;
      height: 50px;
      padding: 4px 0px 0px 4px;
      border-radius: 0px 20px 0px 0px;
      background: #fff url(../image/ico_star.png) no-repeat 6px 12px;
      background-size: 30px;
    }

    .favorites.on {
      background: #fff url(../image/ico_star_on.png) no-repeat 6px 12px;
      background-size: 30px;
    }
  }
}
/* //content company list */

#supporter_evaluation {
  .text_box {
    padding: 80px 0px 40px 0px;
    text-align: center;

    p {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      letter-spacing: -1px;
    }
  }

  .suggestion {
    margin: 10px;

    .star_score {
      padding: 20px 0px;
      margin: 10px 0px;
      text-align: center;

      .score {
        display: inline-block;
        width: 50px;
        height: 50px;

        button {
          width: 100%;
          height: 100%;
          background: url(../image/ico_star.png) no-repeat 0 0;
          background-size: cover;
        }
      }

      .score.on {
        button {
          background: url(../image/ico_star_on.png) no-repeat 0 0;
          background-size: cover;
        }
      }
    }

    textarea[name="evaluation"] {
      width: 100%;
      padding: 10px 8px;
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px 0px;
      margin: 20px 0px 0px 0px;
      font-size: 16px;
      background-color: rgba(0,0,0,0.2);
    }
  }
}
/* 모달 dialog */

/* content service home */
.service_home {
  button {
    font-size: 14px;
  }

  .service_title {
    margin: 30px 0px 20px 0px;
    text-align: center;

    .image {
      display: inline-block;
      width: 80px;
      height: 80px;
      box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.2);
    }

    .image_desc {
      margin: 10px 0px 0px 0px;

      em {
        font-size: 16px;
        font-weight: bold;
      }

      span {
        display: block;
        margin: 4px 0px 0px 0px;
      }
    }
  }

  .service_menu {
    .affix {
      background-color: #fff;
    }

    .btns {
      overflow: hidden;

      button {
        float: left;
        display: block;
        width: 50%;
        height: 40px;
        border-bottom: 2px solid #e2e2f0;
        font-size: 16px;
        color: #e2e2f0;
      }

      button.on {
        font-weight: bold;
        color: #5e5c68;
        border-bottom-color: #5e5c68;
      }
    }

    .service {
      .service_list {
        overflow: auto;
        margin: 16px 0px;
      }

      .questions {
        padding: 0px 16px;

        li {
          border-radius: 4px;
          box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.2);
        }

        li.on {
          .q_answer {
            display: block;
          }
        }

        li + li {
          margin: 10px 0px 0px 0px;
        }

        .question {
          display: block;
          width: 100%;
          padding: 14px;
          border-radius: 4px;
          font-size: 15px;
          text-align: left;
        }

        .q_answer {
          display: none;
          padding: 8px 10px;
          border-radius: 0px 0px 4px 4px;
          background-color: #f7f8fa;
          color: #5e5c68;
          text-align: center;

          p {
            text-align: left;
          }
        }
      }

      .btn_chat {
        margin: 8px 0px;
        padding: 10px 50px;
      }

      .btn_other {
        text-align: center;

        .btn_chat {
          margin: 20px 0px;
          padding: 14px 50px;
        }
      }
    }

    .service.affix {
      margin: 140px 0px 16px 0px;
    }
  }

  .service_menu.affix {
    margin: 134px 0px 0px 0px;

    .affix {
      position: fixed;
      right: 49px;
      width: 330px;
    }
  }

  /* swiper design */
  .service_category {
    margin: 16px 9px;

    li {
      text-align: center;
    }

    button {
      display: block;
      width: 100%;
      padding: 10px 0px;
      border-radius: 28px;
      border: 1px solid #3da4fa;
      color: #3da4fa;
    }

    button.on {
      background-color: #3da4fa;
      color: #fff;
    }
  }
}

/* //content service home */

/* //모달 dialog */

/* 다크모드 */
#cschat_wrap.dark_mode {
  color: #f0f0f0;

  .cschat_top {
    background-color: rgba(64,55,56,1.0);
  }

  .cschat_mid {
    background-color: rgba(68,68,68,1.0);
    color: #fff;
  }

  .cs_talk {
    .date {
      &:before {
        background-color: rgba(34,34,34,1.0);
      }
  
      em {
        background-color: rgba(64,55,56,1.0);
        color: #f7f8fa;
      }
    }
  }

}

@media all and (max-width: 768px) {
  .textbox_basic {
    font-size: 16px;
  }
  
  #connect_wrap {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .service_home {
    .service_menu.affix {
      margin: 138px 0px 0px 0px;
  
      .affix {
        position: fixed;
        right: 20px;
        width: calc(100% - 22px);
      }
    }
  }
}