/* AMR 
  backgroud : rgba 
  color : #
*/

/* defult */
.text_hide {
  line-height: 0px;
  font-size: 0px;
  text-indent: -999px;
}

.chevron_prev {
  padding: 0px;
  width: 40px;
  height: 40px;
  background: url(../image/arrow_left.png) no-repeat center;
  background-size: 12px auto;
}

.sub_title {
  font-size: 18px;
  font-weight: bold;
  color: #363636;
}

.sub_more {
  color: #9f9f9f;
}


.textbox_basic {
  width: 100%;
  height: 40px;
  border: 1px solid #e2e2f0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #5e5c68;
}

.textbox_basic:focus {
  border:1px solid rgba(0,160,200,1.0);
}

.textbox_basic + .fa-microphone {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 20px;
}

/* //defult */

#connect_wrap {
  overflow: hidden;
  position: fixed;
  bottom: 50px;
  right: 30px;
  min-width: 320px;
  width: 350px;
  height: 80%;
  border-radius: 8px;
  border: 1px solid #e2e2f0;

  .connect_top {
    overflow: hidden;
    height: 60px;
    padding: 22px 0px 0px 0px;
    border-bottom: 1px solid #e2e2f0;
    text-align: center;
    font-size: 16px;
    background-color: rgba(255,255,255,1.0);
  
    .title {
      em {
        font-weight: bold;
      }

      img {
        width: 160px;
      }
    }
  
    .chevron_prev {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  #content {
    overflow: auto;
    height: calc(100% - 130px);
    background-color: rgba(255,255,255,1.0);
  }

  #connect_btm {
    height: 70px;
    padding: 4px 0px 0px 0px;
    border-top: 1px solid #e2e2f0;
    background-color: #fff;

    #wrapper {
      overflow: hidden;
      height: 100%;
      padding: 0px 16px;
      text-align: center;

      > div {
        display: inline-block;
        height: 100%;

        > a {
          display: block;
          height: 100%;
          padding: 0px 20px;
        }

        .fas, .far {
          padding: 10px 0px 0px 0px;
          font-size: 22px;
          color: #275791;
        }

        .label {
          display: block;
          font-size: 12px;
          color: #275791;
        }
      }

      .lefe_side {
        display: block;
        float: left;
        margin: 0px 0px 0px 20px;
      }

      .right_side {
        display: block;
        float: right;
        margin: 0px 20px 0px 0px;
      }

      .chat_list {
        background: url(../image/circle_bg.png) no-repeat center 4px;
        background-size: 50px;

        .fas, .far {
          padding: 13px 0px 0px 0px;
          font-size: 30px;
          color: #fff;
          transform: rotateY(180deg);
        }
      }
    }
  }
}

/* content home screen */
.home_screen {
  padding: 16px;

  .srch_box {
    position: relative;
    width: 100%;
    margin: 0px 0px 26px 0px;

    .textbox_basic {
      padding: 0px 34px 0px 16px;
      border-radius: 12px;
      background-color: #eff9ff;
    }

    .fa-microphone {
      color: #275791;
    }
  }

  .service {
    position: relative;
    margin: 0px 0px 26px 0px;

    /* swiper css */
    .company_list {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 15px 0px;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 6px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0px 4px;
    }

    .swiper-pagination {
      padding: 0px 8px 0px 0px;
      text-align: right;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border: 1px solid #e2e2f0;
      background-color: #fff;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: 36px;
      border-radius: 4px;
      background-color: #fff;
    }

    .swiper-container > .label {
      position: absolute;
      top: 20px;
      left: 0px;
      min-width: 100px;
      padding: 6px 20px;
      height: 34px;
      background-color: rgba(0,0,0,0.5);
      text-align: center;
      color: #fff;
      z-index: 2;
  
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0%;
        left: 100%;
        border: 17px solid transparent;
        border-left: 17px solid rgba(0,0,0,0.5);
      }

      > li {
        display: none;
      }

      > li.on {
        display: block;
      }
    }

    .recent_list {
      li {
        display: inline-block;
        width: 100%;
        height: 150px;
    
        a {
          display: block;
          height: 100%;
          text-align: center;

          img {
            width: 100%;
            min-height: 150px;
          }
        }
      }
    }

    .sub_more {
      position: absolute;
      top: 14px;
      right: 5px;
    }
    
    .category {
      margin: 30px 0px;
      text-align: center;
      
      li {
        position: relative;
        display: inline-block;
        width: 30%;
        margin: 4px 0px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 44%;
          right: 20%;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #e2e8fe;
        }

        > a {
          position: relative;
          display: block;
          height: 100%;
          padding: 12px 0px;
        }

        .fas {
          font-size: 30px;
          color: #275791;
        }

        .label {
          display: block;
          color: #7c7c7c;
          margin: 12px 0px 0px 0px;
        }
      }
    }
  }
}
/* //content home screen */

/* content cschat */
.cschat_body {
  position: relative;
  height: 100%;

  .dialog {
    display: none;
  }
}

.cschat_mid {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 55px;
}

.cschat_btm {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0px 12px 8px 12px;
  font-size: 16px;

  .user_writes {
    position: relative;
    width: calc(100% - 40px);
    height: 100%;

    button {
      position: absolute;
      top: 0px;
      left: calc(100% + 2px);
      width: 40px;
      height: 40px;
      background: rgba(0,160,200,1.0) url(../image/ico_send_trans.png) no-repeat;
      background-size: contain;
    }
  }

  .textbox_basic {
    overflow: auto;
    padding: 9px 8px 6px 8px;
  }
}

/* 모달 backdrop */
.cschat_body.backdrop {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(247,248,250,1.0);
    z-index: 10;
  }

  .dialog {
    overflow: auto;
    position: relative;
    display: block;
    height: 100%;
    padding: 8px 10px;
    z-index: 11;

    > div {
      display: none;
    }

    > div.on {
      display: block;
    }
  }
}

.cs_talk {
  overflow: auto;
  height: 100%;
  color: #5e5c68;
  padding: 16px 10px;

  li + li {
    margin-top: 16px;
  }

  .date {
    position: relative;
    padding: 8px 0px;
    text-align: center;
    font-size: 12px;
  
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0%;
      width: 100%;
      height: 1px;
      background-color: rgba(236,236,250,1.0);
    }

    em {
      display: inline-block;
      position: relative;
      padding: 0px 10px;
      background-color: rgba(247,248,250,1.0);
      color: #403738;
    }
  }

  .date.chatend {
    em:first-child {
      display: none;
    }
  }

  li.bot {
    overflow: hidden;
    position: relative;
    min-height: 34px;
    padding: 0px 40px 0px 55px;
    text-align: left;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 10px;
      width: 34px;
      height: 34px;
      border-radius: 8px;
      background: rgba(255,255,255,1.0) url(../image/sample/bot_profile.png) no-repeat center;
      background-size: cover;
    }

    .message {
      border-radius: 0px 20px 0px 20px;
      background-color: rgba(247,248,250,1.0);
    }
  }

  li.user {
    overflow: hidden;
    padding: 0px 10px 0px 80px;
    text-align: right;

    .message {
      border-radius: 0px 10px 0px 10px;
      background-color: rgba(0,160,200,1.0);
      color: #fff;
    }
  }

  .message {
    display: inline-block;
    padding: 8px 8px 7px 10px;
    text-align: left;
    word-break: break-all;
  }
}
/* //content cschat */

/* content company list */
.companies {
  padding: 16px;

  .selectbox {
    width: 150px;

    .select {
      width: 100%;
      font-size: 16px;
      border: 1px solid #e2e2f0;
      border-radius: 4px;
      padding: 8px 12px;

      &:focus {
        border-color: #275791;
      }

      option {
        color: #5e5c68;
      }
    }
  }

  .horizon_list {
    padding: 10px 0px 0px 0px;

    li {
      position: relative;
      margin: 30px 0px 0px 0px;
    }
  
    a {
      position: relative;
      display: block;
      margin: 18px 0px 0px 10px;
      padding: 24px 0px 28px 0px;
      border-radius: 20px;
      box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.3);
    }
  
    .company_img {
      position: absolute;
      top: -18px;
      left: -10px;
      width: 100px;
      min-height: 100px;
      border: 1px solid #e2e2f0;
      border-radius: 12px;
    }

    .label, .label_explane {
      display: block;
      text-indent: 110px;
    }

    .label {
      font-size: 18px;
      font-weight: bold;
      color: #5e5c68;
    }

    .label_explane {
      line-height: 16px;
      font-size: 16px;
      color: #7c7c7c;
    }

    .favorites {
      overflow: hidden;
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 14px;
      width: 34px;
      height: 34px;
      padding: 4px 0px 0px 4px;
      background-color: #fff;

      img {
        width: 140px;
      }
    }

  }
}
/* //content company list */


/* //defult */
#supporter_evaluation {
  .text_box {
    padding: 80px 0px 40px 0px;
    text-align: center;

    p {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      letter-spacing: -1px;
    }
  }

  .suggestion {
    margin: 10px;

    .star_score {
      padding: 20px 0px;
      margin: 10px 0px;
      text-align: center;

      .score {
        display: inline-block;
        width: 50px;
        height: 50px;

        button {
          width: 100%;
          height: 100%;
          background: url(../image/ico_star.png) no-repeat 0 0;
          background-size: cover;
        }
      }

      .score.on {
        button {
          background: url(../image/ico_star_on.png) no-repeat 0 0;
          background-size: cover;
        }
      }
    }

    textarea[name="evaluation"] {
      width: 100%;
      padding: 10px 8px;
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px 0px;
      margin: 20px 0px 0px 0px;
      font-size: 16px;
      background-color: rgba(0,0,0,0.2);
    }
  }
}
/* 모달 dialog */


/* //모달 dialog */

/* 다크모드 */
#cschat_wrap.dark_mode {
  color: #f0f0f0;

  .cschat_top {
    background-color: rgba(64,55,56,1.0);
  }

  .cschat_mid {
    background-color: rgba(68,68,68,1.0);
    color: #fff;
  }

  .cs_talk {
    .date {
      &:before {
        background-color: rgba(34,34,34,1.0);
      }
  
      em {
        background-color: rgba(64,55,56,1.0);
        color: #f7f8fa;
      }
    }
  }

}

@media all and (max-width: 768px) {
  .textbox_basic {
    font-size: 16px;
  }

  html, body {
    width: 100vw;
    height: 100vh;
  }
  
  #connect_wrap {
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;

    #content {
    }
  }
}