/* 
밝은회색 D9DADE
더 밝은 회색 rgb(232, 232, 235);

밝은하늘 C2D4EC
버튼회색 778188
흰색 FBF8F5

*/

#wrapper {
  padding: 20px;
  background: #C2D4EC;
}

#top_area {
  position: relative;
  height: 40px;
  padding: 2px 15px 0px 15px;

  > div {
    display: inline-block;
    vertical-align: middle;
  }

  .search_box {
    .search_input {
      height: 28px;
    }
  }

  .sync {
    width: 34px;
    height: 34px;
    margin: 0px 0px 0px 10px;
    border-radius: 50%;
    vertical-align: middle;
    background: #D9DADE url(../images/btn_sync.png) no-repeat 0 0;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
  }

  .each_setting {
    top: 4px;
    right: 15px;


    button[type=button] {
      background-size: 25px auto;
    }

    ul {
      right: 0%;
    }
  }
}

#content {
  margin: 20px 0px 0px 0px;
  height: calc(100vh - 100px);/*대략 지정함*/
  min-height: 300px;

  .bookmarks {
    overflow: hidden;

    li {
      overflow: hidden;
      float: left;
      min-width: 40px;
      height: 30px;
      padding: 5px 10px;
      border-radius: 10px 10px 0px 0px;
      border-top: 1px solid #FBF8F5;
      background: #D9DADE;

      &.active {
        background: #FBF8F5;
      }

      input[type=text], span {
        display: none;
        height: 100%;

        &.show {
          display: block;
        }
      }

      input[type="text"] {
        background: #FBF8F5;
      }

      span {
        cursor: default;
      }
    }

    li#add_bookmark {
      input[type=text] {
        background: #D9DADE;
      }
    }
  }

  .board {
    overflow: hidden;
    height: calc(100% - 30px);
    border: 1px solid #FBF8F5;
    box-shadow: inset 0 0 8px rgba(251, 248, 245, 0.8);

    > div {
      width: calc(50% - 10px);
    }

    .category_box {
      overflow-x: auto;
      float: left;
      width: calc(60% - 10px);
      height: 100%;
      padding: 15px 15px;
      white-space: nowrap;
      transition: width .2s;
    }

    .category {
      position: relative;
      display: inline-block;
      width: 300px;
      height: 100%;
      max-height: 100%;
      vertical-align: top;
      box-shadow: 0 0 8px rgba(0,0,0,0.3);


      + .category {
        margin: 0px 0px 0px 20px;
      }
    }

    .category_name {
      width: 100%;
      height: 30px;
      background: rgb(232, 232, 235);
      
      input[type="text"] {
        width: 100%;
        height: 30px;
        padding: 5px 12px;
        font-size: 12px;
      }
    }

    .add_category {
      height: auto;
    }

    .cards {
      overflow: auto;
      height: auto;
      max-height: calc(100% - 30px);

      li {
        position: relative;
        height: 60px;
        margin: 10px;
        background: #edeff3;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        cursor: pointer;
      }

      .card_preview {
        width: calc(100% - 35px);
        padding: 10px;
        white-space: normal;
      }

      .each_setting {
        top: 15px;
        right: 5px;
      }

      .add_card {
        height: 30px;

        button[type=button] {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    /* //category_box */

    .memo_box {
      float: right;
      position: relative;
      width: calc(40% - 10px);
      height: 100%;
      text-align: right;
      transition: width .2s;
      background: rgb(232, 232, 235);
    }

    .memo_swich {
      position: absolute;
      top: calc(50% - 45px);
      left: -30px;
      width: 60px;
      height: 90px;

      button[type=button] {
        width: 30px;
        height: 100%;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 3px;
      }

      button[type=button]:first-child {
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        border-right: none;
        background: #e8e8eb url(../images/chevron_left.png) no-repeat 50% 50%;
        background-size: 10px auto;
        transition: left .2s;

        &:hover {
          left: 0px;
        }
      }

      button[type=button]:last-child {
        display: none;
        position: absolute;
        top: 0;
        left: 5px;
        border-left: none;
        background: #e8e8eb url(../images/chevron_right.png) no-repeat 50% 50%;
        background-size: 10px auto;
      }
    }

    .memo_swich.swich_cover {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 100%;
        background: rgb(232, 232, 235);
      }
    }

    .memo_write {
      height: 100%;
      padding: 15px 20px;

      > div + div {
        margin: 10px 0px 0px 0px;
      }

      .new_memo {
        height: 30px;

        button[type=button] {
          height: 100%;
          padding: 0px 20px;
        }
      }

      .titles_box {
        background: #FBF8F5;

        .show_btn {
          width: 100%;
          height: 30px;
          padding: 0px 20px;
          text-align: right;
          background: #D9DADE url(../images/chevron_bottom.png) no-repeat right 22px top 50%;
          background-size: 15px auto;
        }

        .titles {
          display: none;
          padding: 3px 10px;
  
          li {
            margin: 4px 0px;

            > div {
              display: inline-block;
            }
          }

          .title {
            margin: 0px 10px 0px 0px;
          }

          .search_box {
            display: inline-block;
          }
        }
      }

      .card_box {
        height: calc(100% - 90px);

        .card_title {
          display: block;
          width: 100%;
          padding: 7px;
          height: 30px;
          background: #FBF8F5;
        }
  
        .card_content {
          display: block;
          width: 100%;
          height: calc(100% - 40px);
          margin: 10px 0px 0px 0px;
          padding: 7px;
          background: #FBF8F5;
          border: none;
        }
      }
    }

    .memo_write.titles_show {
      .titles_box {
        .titles {
          display: block;
        }
      }

      .card_box {
        height: calc(100% - 160px);
      }
    }
    /* //memo_box */
  }

  .board.memobox_opened {
    .category_box {
      width: 30px;
      overflow: hidden;
    }

    .cards {
      overflow: hidden;
    }

    .memo_box {
      width: calc(100% - 40px);
    }

    .memo_swich {
      button[type=button]:first-child {
        display: none;
      }

      button[type=button]:last-child {
        display: block;
      }
    }
  }
}

/* animation */
@keyframes hide {
  
}


/* 공통 */
.text_ir {
  font-size: 0;
  line-height: 0;
}

.search_box {
  position: relative;

  .search_input {
    width: 170px;
    height: 26px;
    padding: 0px 10px;
    border: 1px solid #D9DADE;
  }
  
  .result_list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0%;
    width: 100%;
    border: 1px solid #000;
    background: #FBF8F5;
    z-index: 10;
  
    &.result_show {
      display: block;
    }
  
    li {
      height: 28px;
      padding: 6px 10px;

      &:hover {
        background: #C2D4EC;
      }

      + li {
        border-top: 1px solid #000;
      }
    }
  }
  
  .result_box.result_show {
    display: block;
  }
}

.each_setting {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;

  button[type=button] {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/img_config.png) no-repeat 50% 50%;
    background-size: 20px auto;
  }

  ul {
    position: absolute;
    display: none;
    top: 100%;
    width: 100px;
    border: 1px solid #000;

    &.list_show {
      display: block;
    }
  }
}

@media all and (max-width: 1200px) {
  #content {
    .board {
      .category_box {
        width: calc(100% - 20px);
      }
  
      .memo_box {
        width: 0;
  
        .titles_box {
          width: 100%;
        }
      }
    }

    .board.memobox_opened {
      .category_box {
        overflow: auto;
        width: calc(100% - 420px);
        padding: 15px 15px;
      }

      .cards {
        overflow: auto;
      }
  
      .memo_box {
        width: 400px;
      }
    }
  }
}