body {
  background: pink;
}

#wrapper {
  padding: 20px;
}

#top_area {
  background: #fff;

  > div {
    display: inline-block;
  }

  .services {
    position: relative;
  }

  .each_setting {
    ul {
      right: 0%;
    }
  }


}

#content {
  margin: 20px 0px 0px 0px;
  height: calc(100vh - 100px);/*대략 지정함*/
  min-height: 300px;
  background: #fff;

  .bookmarks {
    overflow: hidden;

    li {
      float: left;

      input[type=text] {
        height: 30px;
        padding: 5px;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid #333;
        background: wheat;
      }
    }
  }

  .board {
    overflow: hidden;
    height: calc(100% - 30px);
    padding: 15px;

    > div {
      width: calc(50% - 10px);
      background: wheat;
    }

    .category_box {
      overflow-x: auto;
      overflow: hidden;
      float: left;
      height: 100%;
      white-space: nowrap;
    }

    .memo_box {
      float: right;
    }

    .category {
      overflow: auto;
      position: relative;
      display: inline-block;
      width: 300px;
      height: auto;
      max-height: calc(100% - 30px;
      border: 1px solid #000;
      vertical-align: top;


      + .category {
        margin: 0px 0px 0px 20px;
      }
    }

    .category_name {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      
      input[type="text"] {
        width: 100%;
        height: 30px;
        padding: 5px 12px;
        font-size: 12px;

      }
    }

    .cards {
      overflow: auto;
      position: relative;
      padding: 30px 0px 0px 0px;
      background: yellowgreen;
      height: auto;
      max-height: 100%;

      li {
        position: relative;
        height: 60px;
        margin: 10px;
        background: #fff;
      }

      .card_preview {
        width: calc(100% - 35px);
        padding: 10px;
        white-space: normal;
      }

      .each_setting {
        top: 15px;
        right: 5px;
      }

      .add_card {
        height: 30px;
        background: red;

        button[type=button] {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}



/* 공통 */
.search_input {
  border: 1px solid #333;
  outline-color: #333;
  background: rgb(207, 163, 80);
}

// list_show 마무리
.result_box {
  position: absolute;
  display: none;
  top: 100%;
  left: 0%;
  border: 1px solid #333;
  background: rgb(207, 163, 80);

  &.list_show {
    display: block;
  }

  .result_list {
    background: wheat;

    li, option {
      padding: 4px 12px;
    }

  }
}

.each_setting {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;

  button[type=button] {
    display: block;
    width: 100%;
    height: 100%;
  }

  ul {
    position: absolute;
    display: none;
    top: 100%;
    width: 100px;
    border: 1px solid #000;

    &.list_show {
      display: block;
    }
  }
}