<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<!-- Cache reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT"/>
<meta http-equiv="Expires" content="-1"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="../static/resources/images/ico_favicon.ico"/><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
<!-- css -->
<link rel="stylesheet" type="text/css" href="../static/resources/css/font.css"/>
<link rel="stylesheet" type="text/css" href="../static/resources/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../static/resources/css/all.css"/>
<link rel="stylesheet" type="text/css" href="../static/resources/css/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="../static/resources/css/jquery-jvectormap-2.0.5.css"/>
<link rel="stylesheet" type="text/css" href="../static/resources/css/type_pc_a.css"/>

<title>채널별 챗봇 통계 &gt; 레드타이버틀러</title>
</head>

<body>
<!-- #wrap -->
<input type="hidden" id="hotelValue" th:value="${session.hotel}"/>
<div id="wrap">
    <!-- #skipNav -->
    <div id="skipNav">
        <a href="#contents">본문 바로가기</a>
        <a href="#gnb">주메뉴 바로가기</a>
        <a href="#snb">서브메뉴 바로가기</a>
    </div>
    <!-- //#skipNav -->
	<!-- #header -->
	<div id="header">
        <!-- 200227 AMR 모바일용 메뉴 -->
        <div class="mobile_menu">
            <button type="button" class="menu_open">
                <em></em>
                <em></em>
                <em></em>
                <span>메뉴열기</span>
            </button>
            <button type="button" class="menu_close">
                <img src="../static/resources/images/btn_layerClose_w.png" alt="메뉴닫기">
            </button>
        </div>

		<div class="lot_col02">
			<h1>
                <a href="#">
                    <img src="../static/resources/images/img_tit_redtie2.png" alt="레드타이버틀러">
                </a>
			</h1>
		</div>
		<div class="lot_col02">
			<!-- .sta -->
			<div class="sta">
				<!-- .util -->
				<div class="util">
					<!-- .nav -->
					<ul class="nav">
						<!-- .profile -->
						<li class="lst_dropdown ico_avatar">
							<div class="tit_dropdown">
								<button type="button" class="btn_dropdown">
									<span>profile</span>
									<!-- <img src="../static/resources/images/sample/img_profile.png" alt="프로필 사진"> -->
								</button>
							</div>
							<div class="cont_dropdown">
								<ul class="lst">
									<li><a class="ico_logout"  href="/signOut">로그아웃</a></li>
								</ul>
							</div>
						</li>
						<!-- //.profile -->
					</ul>
					<!-- //.nav -->
				</div>
				<!-- //.util -->
			</div>
			<!-- //.sta -->
		</div>
	</div>
	<!-- //#header -->

	<hr>

    <!-- #container -->
    <div id="container">
        <!-- #snb -->
        <div id="snb">
            <ul class="nav_snb">
                <li>
                    <h3>통계</h3>
                    <ul class="lst_sub">
                        <li><a class="active" href="stats01.html"><span>채널별 챗봇 통계</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- //#snb -->

        <!-- #contents -->
        <div id="contents">
            <!-- .content -->
            <div class="content">
                <!-- .titArea -->
                <div class="titArea">
                    <h3 id="page_title"></h3>
                    <div class="path">
                        <ul class="path_nav">
                            <li><a class="home" href="#none">Home</a></li>
                            <li><span>통계</span></li>
                            <li><span>채널별 챗봇 통계</span></li>
                        </ul>
                    </div>
                </div>
                <!-- //.titArea -->
                <!-- .section(All Box Type) -->
                <div class="stn contBoxType">
                    <div class="stn_cont">
                        <div class="srchBox">
                            <!-- 추가 AMR 200317 row_box -->
                            <div class="stn_col col_third row_box">
                                <!--                                <dl class="dlBox">-->
                                <!--                                    <dt>채널</dt>-->
                                <!--                                    <dd>-->
                                <!--                                        <div class="selectbox">-->
                                <!--                                            <label for="select_channel">채널선택</label> -->
                                <!--                                            <select id="select_channel"> -->
                                <!--                                                <option selected disabled>채널선택</option>-->
                                <!--                                            </select>-->
                                <!--                                        </div>-->
                                <!--                                    </dd>-->
                                <!--                                </dl>-->
                                <dl class="dlBox">
                                    <dt>언어</dt>
                                    <dd>
                                        <div class="selectbox">
                                            <label for="select_lang">한국어</label>
                                            <select id="select_lang">
                                                <option data-lang="1" selected>한국어</option>
                                                <option data-lang="2">English</option>
                                                <option data-lang="4">中文(简体)</option>
                                                <option data-lang="3">日本語</option>
                                            </select>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dlBox">
                                    <dt>기간</dt>
                                    <dd>
                                        <div class="selectbox">
                                            <label for="select_date">지난 7일</label>
                                            <select id="select_date">
                                                <option data-date="7">지난 7일</option>
                                                <option data-date="14">지난 14일</option>
                                                <option data-date="28">지난 28일</option>
                                                <option data-date="-1">직접입력</option>
                                            </select>
                                        </div>
                                    </dd>
                                </dl>
                                <!-- 200227 AMR date_hide -->
                                <dl class="dlBox date_hide">
                                    <dt>직접입력</dt>
                                    <dd>
                                        <div class="iptBox date">
                                            <input type="text" name="fromDate" id="fromDate" class="ipt_date" disabled="disabled">
                                            <span>-</span>
                                            <input type="text" name="toDate" id="toDate"  class="ipt_date" disabled="disabled">
                                        </div>
                                        <!-- 200227 AMR 위치 이동 -->
                                        <a class="btn_primary btn_send">조회</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="stn_col col_fifth row_box">
                                <dl class="dlBox">
                                    <dt>Total Messages</dt>
                                    <dd id="tm_num" class="num"></dd>
                                    <dd class="btnBox">
                                        <button type="button"><span class="fas fa-question-circle"></span>Help</button>
                                    </dd>
                                </dl>
                                <dl class="dlBox">
                                    <dt>Total Users</dt>
                                    <dd id="tu_num" class="num"></dd>
                                    <dd class="btnBox">
                                        <button type="button"><span class="fas fa-question-circle"></span>Help</button>
                                    </dd>
                                </dl>
                                <dl class="dlBox">
                                    <dt>Avg.conversations per user</dt>
                                    <dd id="avg_num" class="num ft_clr_red"></dd>
                                    <dd class="btnBox">
                                        <button type="button"><span class="fas fa-question-circle"></span>Help</button>
                                    </dd>
                                </dl>
                                <dl class="dlBox">
                                    <dt>Weak understanding</dt>
                                    <dd id="wu_num" class="num"></dd>
                                    <dd class="btnBox">
                                        <button type="button"><span class="fas fa-question-circle"></span>Help</button>
                                        <!-- <button type="button"><span class="fas fa-download"></span>Excel Download</button> -->
                                    </dd>
                                </dl>
                                <dl class="dlBox" style="display: none;">
                                    <dt>Total Email</dt>
                                    <dd id="wu_num" class="num"></dd>
                                    <dd class="btnBox">
                                        <button type="button"><span class="fas fa-question-circle"></span>Help</button>
                                        <!-- AMR 200305 setting을 click하면 .balloon addClass('on') -->
                                        <button type="button" id="set_email"><span class="fas fa-cog"></span>Setting</button>
                                    </dd>
                                    <!-- AMR 200305 button setting 클릭 시 나오는 말풍선 -->
                                    <dd id="email_input" class="balloon pright">
                                        <div class="bloon_title"><span>이메일 주소</span></div>
                                        <div class="bloon_cont">
                                            <input type="text" placeholder="문의 접수용 이메일 주소 입력">
                                            <div class="bloon_btn">
                                                <button type="button" class="btn_send btn_primary pright">저장</button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.section(All Box Type) -->
                <!-- .section(All Box Type) -->
                <div class="stn contBoxType">
                    <div class="stn_cont">
                        <div class="lot_half">
                            <dl>
                                <dt>Total Messages Per Hour</dt>
                                <dd>
                                    <div id="dir_totalMessagesPerHour" class="chartBox">
                                        <canvas id="totalMessagesPerHour"></canvas>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="lot_half">
                            <dl>
                                <dt>Active Users Per Hour</dt>
                                <dd>
                                    <div id="dir_activeUsersPerHour" class="chartBox">
                                        <canvas id="activeUsersPerHour"></canvas>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- //.section(All Box Type) -->
                <!-- .section(All Box Type) -->
                <div class="stn contBoxType">
                    <div class="stn_cont">
                        <!-- 200227 AMR .col_half -->
                        <div class="col_half">
                            <dl>
                                <dt>New User Count(today) <span>Total : <span id="nu_sum">0</span></span></dt>
                                <dd>
                                    <div id="dir_newUserCount" class="chartBox">
                                        <canvas id="newUserCount"></canvas>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="col_half">
                            <dl>
                                <dt>PC/Mobile Count<span>Total : <span id="pm_sum">0</span></span></dt>
                                <dd>
                                    <div id="dir_pcMobileCount" class="chartBox">
                                        <canvas id="pcMobileCount"></canvas>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="col_half">
                            <dl>
                                <dt>Homepage/QR Count<span>Total : <span id="hq_sum">0</span></span></dt>
                                <dd>
                                    <div id="dir_hpQrCount" class="chartBox">
                                        <canvas id="hpQrCount"></canvas>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- //.section(All Box Type) -->
                <!-- .section(All Box Type) -->
                <div class="stn contBoxType">
                    <div class="stn_cont">
                        <div class="lot_half">
                            <div class="tbl_tit">
                                <h4>Top 10 Concierge Category</h4>
                                <div class="fl_r">
                                    <select id="cat_cnt" class="select">
                                        <option data-cnt="10">10개보기</option>
                                        <option data-cnt="-1">전체보기</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 200227 AMR tbl_box -->
                            <div class="tbl_box">
                                <table class="tbl_line">
                                    <caption class="caption_hide">Top 10 Concierge Category</caption>
                                    <colgroup>
                                        <col style="width: 38px"><col><col style="width: 64px">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="row">No.</th>
                                        <th scope="row">Category</th>
                                        <th scope="row" class="al_r">Count</th>
                                    </tr>
                                    </thead>
                                    <tbody id="cc_tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="lot_half">
                            <div class="tbl_tit">
                                <h4>User Question</h4>
                            </div>
                            <div class="tbl_box">
                                <table class="tbl_line">
                                    <caption class="caption_hide">User Question List</caption>
                                    <colgroup>
                                        <col><col style="width: 64px">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="row">User Question</th>
                                        <th scope="row" class="al_r">Count</th>
                                    </tr>
                                    </thead>
                                    <tbody id="uq_tbody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.section(All Box Type) -->
                <!-- .section(All Box Type) -->
                <div class="stn contBoxType">
                    <div class="stn_cont">
                        <div class="stn_col">
                            <dl class="dlBox">
                                <dt>Global Map</dt>
                                <dd style="margin: 16px 0px 0px 0px; text-align: center;">
                                    <div id="map1"></div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- //.section(All Box Type) -->
            </div>
            <!-- //.content -->
        </div>
        <!-- //#contents -->
        <a href="#header" class="btn_goTop"><span>페이지 위로</span></a>
    </div>
    <!-- //#container -->

	<hr>

	<!-- #footer -->
	<div id="footer">
		<div class="cyrt"><span>&copy; 2016 RedTie Inc. All Rights Reserved RedTieButler</span></div>
	</div>
	<!-- //#footer -->
</div>
<!-- //#wrap -->

<!-- 공통 script -->
<script type="text/javascript" src="../static/resources/js/jquery-1.11.3.min.js"></script>
<!-- datetimepicker -->
<script type="text/javascript" src="../static/resources/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/resources/js/datepicker-ko.js"></script>
<!-- 세계지도 -->
<script type="text/javascript" src="../static/resources/js/jquery-jvectormap-2.0.5.min.js"></script>
<script type="text/javascript" src="../static/resources/js/jquery-jvectormap-world-mill-ko.js"></script>

<script type="text/javascript" src="../static/resources/js/all.js"></script>
<script type="text/javascript" src="../static/resources/js/Chart.min.js"></script>
<script type="text/javascript" src="../static/resources/js/utils.js"></script>
<script type="text/javascript" src="../static/resources/js/common.js"></script>
<script type="text/javascript" src="../static/resources/js/calendar_custom.js"></script>
<script type="text/javascript" src="../static/resources/js/chart_custom.js"></script>
<script type="text/javascript" src="../static/resources/js/app.js"></script>
<script type="text/javascript">
/* 추가 AMR 200317 세계지도 */
$(function(){
    $('#map1').vectorMap({
        map: 'world_mill_ko',
        // panOnDrag: true,
        focusOn: {
          x: 0.5,
          y: 0.5,
          scale: 0,
          animate: true
        },
        series: {
          regions: [{
            // [D] scale이 아닌 접속자 수에 따른 색상 변화가 필요합니다.
            scale: ['#FFE2E2', '#710000'],
            normalizeFunction: 'polynomial',
            values: {
              "AF": 16.63,
              "AL": 11.58,
              "DZ": 158.97,
              "AO": 85.81,
              "AG": 1.1,
              "AR": 351.02,
              "AM": 8.83,
              "AU": 1219.72,
              "AT": 366.26,
              "AZ": 52.17,
              "BS": 7.54,
              "BH": 21.73,
              "BD": 105.4,
              "BB": 3.96,
              "BY": 52.89,
              "BE": 461.33,
              "BZ": 1.43,
              "BJ": 6.49,
              "BT": 1.4,
              "BO": 19.18,
              "BA": 16.2,
              "BW": 12.5,
              "BR": 2023.53,
              "BN": 11.96,
              "BG": 44.84,
              "BF": 8.67,
              "BI": 1.47,
              "KH": 11.36,
              "CM": 21.88,
              "CA": 1563.66,
              "CV": 1.57,
              "CF": 2.11,
              "TD": 7.59,
              "CL": 199.18,
              "CN": 5745.13,
              "CO": 283.11,
              "KM": 0.56,
              "CD": 12.6,
              "CG": 11.88,
              "CR": 35.02,
              "CI": 22.38,
              "HR": 59.92,
              "CY": 22.75,
              "CZ": 195.23,
              "DK": 304.56,
              "DJ": 1.14,
              "DM": 0.38,
              "DO": 50.87,
              "EC": 61.49,
              "EG": 216.83,
              "SV": 21.8,
              "GQ": 14.55,
              "ER": 2.25,
              "EE": 19.22,
              "ET": 30.94,
              "FJ": 3.15,
              "FI": 231.98,
              "FR": 2555.44,
              "GA": 12.56,
              "GM": 1.04,
              "GE": 11.23,
              "DE": 3305.9,
              "GH": 18.06,
              "GR": 305.01,
              "GD": 0.65,
              "GT": 40.77,
              "GN": 4.34,
              "GW": 0.83,
              "GY": 2.2,
              "HT": 6.5,
              "HN": 15.34,
              "HK": 226.49,
              "HU": 132.28,
              "IS": 12.77,
              "IN": 1430.02,
              "ID": 695.06,
              "IR": 337.9,
              "IQ": 84.14,
              "IE": 204.14,
              "IL": 201.25,
              "IT": 2036.69,
              "JM": 13.74,
              "JP": 5390.9,
              "JO": 27.13,
              "KZ": 129.76,
              "KE": 32.42,
              "KI": 0.15,
              "KR": 986.26,
              "KW": 117.32,
              "KG": 4.44,
              "LA": 6.34,
              "LV": 23.39,
              "LB": 39.15,
              "LS": 1.8,
              "LR": 0.98,
              "LY": 77.91,
              "LT": 35.73,
              "LU": 52.43,
              "MK": 9.58,
              "MG": 8.33,
              "MW": 5.04,
              "MY": 218.95,
              "MV": 1.43,
              "ML": 9.08,
              "MT": 7.8,
              "MR": 3.49,
              "MU": 9.43,
              "MX": 1004.04,
              "MD": 5.36,
              "MN": 5.81,
              "ME": 3.88,
              "MA": 91.7,
              "MZ": 10.21,
              "MM": 35.65,
              "NA": 11.45,
              "NP": 15.11,
              "NL": 770.31,
              "NZ": 138,
              "NI": 6.38,
              "NE": 5.6,
              "NG": 206.66,
              "NO": 413.51,
              "OM": 53.78,
              "PK": 174.79,
              "PA": 27.2,
              "PG": 8.81,
              "PY": 17.17,
              "PE": 153.55,
              "PH": 189.06,
              "PL": 438.88,
              "PT": 223.7,
              "QA": 126.52,
              "RO": 158.39,
              "RU": 1476.91,
              "RW": 5.69,
              "WS": 0.55,
              "ST": 0.19,
              "SA": 434.44,
              "SN": 12.66,
              "RS": 38.92,
              "SC": 0.92,
              "SL": 1.9,
              "SG": 217.38,
              "SK": 86.26,
              "SI": 46.44,
              "SB": 0.67,
              "ZA": 354.41,
              "ES": 1374.78,
              "LK": 48.24,
              "KN": 0.56,
              "LC": 1,
              "VC": 0.58,
              "SD": 65.93,
              "SR": 3.3,
              "SZ": 3.17,
              "SE": 444.59,
              "CH": 522.44,
              "SY": 59.63,
              "TW": 426.98,
              "TJ": 5.58,
              "TZ": 22.43,
              "TH": 312.61,
              "TL": 0.62,
              "TG": 3.07,
              "TO": 0.3,
              "TT": 21.2,
              "TN": 43.86,
              "TR": 729.05,
              "TM": 0,
              "UG": 17.12,
              "UA": 136.56,
              "AE": 239.65,
              "GB": 2258.57,
              "US": 14624.18,
              "UY": 40.71,
              "UZ": 37.72,
              "VU": 0.72,
              "VE": 285.21,
              "VN": 101.99,
              "YE": 30.02,
              "ZM": 15.69,
              "ZW": 5.57
            }
          }]
        }
    });
    $('.jvectormap-container').css({'background-color' : 'rgb(255,255,255)'});
});
</script>
</body>
</html>
