@charset "UTF-8";
/* 공통 */
.align_center {
  text-align: center !important;
}

.inline_block {
  display: inline-block !important;
}

.text_hide {
  line-height: 0px;
  text-indent: -999px;
  font-size: 0px;
}

.info_text {
  padding: 8px 0px;
  font-weight: normal;
  font-size: 11px;
  color: #5e77ff;
}

.primary_solid_btn {
  padding: 2px 12px;
  border: 1px solid #5e77ff;
  border-radius: 3px;
  font-size: 12px;
  color: #5e77ff;
  background-color: #fff;
}

.primary_solid_btn + button {
  margin: 0px 0px 0px 4px;
}

body.lyr_show {
  overflow: hidden;
}

body.lyr_show .lyrWrap {
  display: block;
}

.lyrWrap {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lyrWrap .lyr_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.lyrWrap .lyrBox {
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 4px;
  background-color: #fff;
}

.lyrWrap .lyrBox .lyr_top {
  overflow: hidden;
  padding: 12px;
  background-color: #5e77ff;
}

.lyrWrap .lyrBox .lyr_top h3 {
  float: left;
  color: #fff;
  font-size: 16px;
}

.lyrWrap .lyrBox .lyr_mid {
  padding: 20px;
}

.lyrWrap .lyrBox .lyr_mid .lyr_dl {
  font-weight: bold;
  color: #262626;
}

.lyrWrap .lyrBox .lyr_mid .lyr_dl dt, .lyrWrap .lyrBox .lyr_mid .lyr_dl dd {
  display: inline-block;
}

.lyrWrap .lyrBox .lyr_mid .lyr_dl.input_dl dt, .lyrWrap .lyrBox .lyr_mid .lyr_dl.input_dl dd {
  display: block;
}

.lyrWrap .lyrBox .lyr_mid .lyr_dl.input_dl dd {
  margin: 10px 0px 0px 0px;
}

.lyrWrap .lyrBox .lyr_btm {
  padding: 8px 10px;
  background-color: #f1f1f1;
}

.lyrWrap .lyrBox .lyr_btm .primary_solid_btn {
  padding: 2px 20px;
  color: #262626;
  border-color: #777;
}

.lyrWrap .btn_lyr_close {
  float: right;
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #5e77ff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.lyrWrap .btn_lyr_close:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lyrWrap .btn_lyr_close:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.input_style {
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 1px solid transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  color: #666;
  font-size: 12px;
  -webkit-transition: outline 0.2s;
  transition: outline 0.2s;
}

.input_style:disabled {
  background-color: initial;
}

textarea:disabled {
  background-color: initial;
}

input[name="excel_file_name"] {
  display: inline-block;
  width: 200px;
}

label[for="excel_file"] {
  display: inline-block;
  width: 75px;
  padding: 2px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: normal;
  color: #666;
  text-align: center;
  background-color: #f2f2f2;
}

/* //공통 */
#maum_simplebot {
  min-width: 1240px;
  height: 100%;
  height: calc(100% - 50px);
  text-align: center;
  background-color: #e3e5ea;
}

#simplebot_wrap {
  display: inline-block;
  width: calc(100% - 20px);
  margin: 20px 10px;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
}

#simplebot_header {
  min-width: 1240px;
  height: 50px;
  background-color: #15161F;
}

#simplebot_header h1 {
  padding: 15px;
  font-size: 20px;
  color: #5B76FB;
}

.scenario_title {
  overflow: hidden;
  padding: 10px 15px;
  border-bottom: 1px solid #e3e5ea;
}

.scenario_title h2 {
  float: left;
  width: 80px;
  padding: 2px 0px 0px 0px;
  font-size: 16px;
  font-weight: bold;
  color: #262626;
}

.scenario_title .btns {
  float: right;
  width: calc(100% - 80px);
}

.scenario_title .btns > div {
  display: inline-block;
}

.scenario_title .btns > div:last-child {
  float: right;
}

.scenario_view {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e3e5ea;
}

.scenario_view .scenario {
  overflow: auto;
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid #e3e5ea;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.scenario_view .scenario > div {
  overflow: auto;
  min-width: 1000px;
  min-height: 500px;
  height: 500px;
}

.scenario_view .aside_view {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 330px;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  background-color: pink;
}

.scenario_view.aside_open .scenario {
  width: calc(100% - 350px);
}

.scenario_view.aside_open .aside_view {
  left: calc(100% - 330px);
}

.scenario_edit {
  overflow: hidden;
  display: none;
  padding: 14px 10px;
  background-color: #fff;
}

.scenario_edit .edit_title {
  overflow: hidden;
}

.scenario_edit .edit_title h3 {
  float: left;
  font-size: 13px;
  color: #262626;
}

.scenario_edit .edit_title .primary_solid_btn {
  float: right;
  color: #262626;
  border-color: #777;
}

.scenario_edit .edit_tool {
  overflow: hidden;
  margin: 5px 0px 0px 0px;
  padding: 0px 10px;
}

.scenario_edit .edit_tool > dl {
  float: left;
  vertical-align: top;
  width: 45%;
}

.scenario_edit .edit_tool > dl dt {
  color: #5e77ff;
}

.scenario_edit .edit_tool > dl dd > div {
  margin: 4px 0px 0px 0px;
}

.scenario_edit .edit_tool > dl em {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.scenario_edit .edit_tool > dl em, .scenario_edit .edit_tool > dl textarea {
  vertical-align: middle;
}

.scenario_edit .edit_tool > dl textarea {
  width: 100%;
  padding: 4px 6px;
  border-radius: 2px;
  color: #666;
}

.scenario_edit .edit_tool > dl em + textarea {
  width: calc(100% - 35px);
}

.scenario_edit .edit_tool > dl + dl {
  float: right;
}

.scenario_edit.show {
  display: block;
}

.saved_time {
  margin: 0px 8px 0px 0px;
  vertical-align: bottom;
  font-size: 10px;
  color: #999;
}

.saved_time span {
  font-size: 10px;
  color: #999;
}
/*# sourceMappingURL=simplebot.css.map */