// 공통
body {
  position: relative;
  text-align: center;
}

#wrap {
  overflow: hidden;
  display: inline-block;
  // max-width: 660px;
  min-width: 320px;
  width: 100%;
  text-align: left;
}

// 공통 body_fixed 스크롤이 생기지 않게 도와주는 장치
body.body_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  #wrap {
    width: 100%;
    height: 100%;
  }

  #m_container {
    height: 100%;
  }
}

// 개별 body_fixed 를 작동하게 도와주는 코드
body.body_fixed {
  #fixed_login {
    overflow: auto;
    height: calc(100% - 70px);
  }

  #btn_login {
    margin: 0;
  }
}

// 공통 important
.show {
  display: block!important;
}
.hide {
  display: none!important;
}

// 공통 box type
.img_box {
  img {
    width: 100%;
  }
}

.dual_box {
  display: table;
  table-layout: fixed;
  width: 100%;

  > div {
    display: table-cell;
    width: 100%;

    button {
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }
  }
}

// 공통 input
.input_txt {
  display: inline-block;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid #c9d0d8;
  font-weight: 700;
}

.input_txt::placeholder {
  font-size: 14px;
  color: #c9d0d8;
}

.input_link {
  display: inline-block;
  padding: 0 16px;
  margin: 16px 0;
  font-size: 12px;
  font-weight: 700;
  color: #4b2c7a;
}

// 공통 text
.t_warning {
  color: #fa4730!important;

  em {
    color: #fa4730!important;
  }
}

.info_text_s {
  font-size: 12px;
}

.info_text {
  font-weight: 700;
}

.primary_text_xs {
  font-size: 10px;
  line-height: 14px;

  a {
    font-size: 10px;
  }
}

.primary_text_s {
  font-size: 12px;

  em {
    font-size: 12px;
    font-weight: 700;
  }
}

.primary_text {
  color: #616c78;
}

// 공통 btn
.btn_primary {
  border-radius: 4px;
  background: #e60662;
  color: #fff;
}

.btn_secondary {
  border-radius: 4px;
  background: #4b2c7a;
  color: #fff;
}

.btn_info {
  border-radius: 4px;
  background: #a8b0bc;
  color: #fff;
}

.btn_cancel {
  border-radius: 4px;
  background: #c9d0d8;
  color: #fff;
}

// 공통 layer
body.lyr_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
  }

  #wrap {
    overflow: hidden;
  }
}

.lyr_box {
  position: relative;
  width: 100%;
  padding: 36px;
  border-radius: 20px 20px 0 0;
  background: #fff;
  z-index: 20;
  text-align: left;

  .lyr_cont {
    .title_box {
      .title {
        display: block;
        font-size: 16px;
        font-weight: 800;
      }

      .title_desc {
        margin: 16px 0 0 0;
      }
    }

    .cont_box {
      margin: 24px 0 0 0;

      .input_info {
        display: block;
        margin: 16px 0 0 0;
      }
    }
  
  }
  
  .lyr_btm {
    margin: 24px 0 0 0;

    .dual_box {
      button {
        padding: 15px 0;
        font-size: 16px;
      }
    }
  }

  .input_txt {
    padding-top: 3px;
  }

  .input_txt::placeholder {
    line-height: 20px;
  }
}

// 공통 layer 효과
.lyr_slide {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  max-height: 100%;
  animation-duration: .2s;
  animation-fill-mode: both;
  transform: translate(0, 0);
  transition: transform 0.2s;

  &.on {
    transform: translate(0, -100%)
  }
}

// login page
.visual {
  padding: 70px 0 50px 50px;
  background: url(../images/bg_visual.svg) no-repeat top -120px right -150px;

  .visual_logo {
    width: 170px;
  }
}

.login_area {
  position: relative;
  padding: 0 42px;
  line-height: 18px;

  .title {
    display: block;
    font-size: 16px;
    font-weight: 800;
  }

  .user_check {
    position: relative;
    margin: 30px 0 0 0;

    > p {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .user_check.wrong {
    p {
      display: block;
    }

    .save_check {
      &:before {
        content: '';
        background: url(../images/ico_check_unact.svg) no-repeat 0 0;
        background-size: cover;
      }
  
      .info_text_s {
        color: #a8b0bc;
      }
    }
  }

  .save_check {
    display: block;
    padding: 60px 0 0 0;
    
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 0 10px 0 0;
      background: url(../images/ico_check_act.svg) no-repeat 0 0;
      background-size: cover;
      vertical-align: middle;
    }

    .info_text_s {
      cursor: default;
    }
  }
}

.login_area.set_pass {
  input[type="password"] {
    margin-top: 24px;
  }

  input[type="password"] + input[type="password"] {
    margin-top: 30px;
  }

  .user_check {
    margin: 16px 0 0 0;

    p {
      display: block;
    }
  }
}

#btn_login {
  position: relative;
  display: block;
  float: right;
  width: 180px;
  height: 70px;
  margin: 50px 0 0 0;
  padding: 4
  px 0 0 0;
  border-radius: 40px 0 0 0;
  font-size: 20px;
  color: #fff;
  background: #4b2c7a;
  text-align: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    right: 22px;
    width: 24px;
    height: 24px;
    background: url(../images/arr_move_right.svg) no-repeat 0 0;
    background-size: cover;
  }
}

// id
#srch_id {
  .lyr_btm .dual_box {
    > div:first-child {
      width: 70%;
      padding: 0 8px 0 0;
    }

    > div:nth-child(2) {
      padding: 0 0 0 8px;
    }
  }
}

#srch_password {
  .lyr_btm .dual_box {
    > div:first-child {
      width: 70%;
      padding: 0 8px 0 0;
    }

    > div:nth-child(2) {
      padding: 0 0 0 8px;
    }
  }
}

@media screen and (max-height:600px) {
  // login page
  .visual {
    padding-bottom: 30px;

    .visual_logo {
      width: 140px;
    }
  }

  .login_area .user_check {
    margin: 0;
  }
  .login_area .save_check {
    padding: 36px 0 0 0;
  }
  // 
}