.svg_test {width: 200px; background: #00A9BD;}
.svg_test svg {width: 100%;}

/* 안테나 반짝이기 */
.bot_antenna {fill: rgba(255,255,255,0.8); animation: circle_bright 2s ease-in-out infinite; animation-direction: alternate;}
@keyframes circle_bright {
    0% {fill: rgba(255,255,255,0.8);}
    100% {fill: rgba(251,255,0,1.0);}
}

/* 눈깜빡이기 */
.bot_eye {display: block;}
.bot_eye.off {display: none;}

/* 손흔들기 */
.bot_arm {transform: rotate(0); transition: transform .5s, opacity .3s; transform-origin: bottom; opacity: 1;}
.bot_arm.static.off {opacity: 0;}
.bot_arm.wave {opacity: 1; transform: translateY(-235px);}
.bot_arm.wave.down {transform: translateY(0); opacity: 0;}
.bot_arm.wave.on {animation: arm_wave .5s ease-in-out 4; animation-direction: alternate;}
@keyframes arm_wave {
    0% {transform: translateY(-235px) rotate(0deg);}
    50% {transform: translateY(-235px) rotate(-3deg);}
    100% {transform: translateY(-235px) rotate(1deg);}
}

/* 입 움직이기 */
.bot_mouse {display: block;}
.bot_mouse.off {display: none;}