.m_ct {position: relative; padding: 35px 25px;}
.top_menu {padding: 0px 10px;}
.bg_gradation_wh {position: absolute; bottom: 0px; left: 0px; width: 100%;}
.btn_scrolltop {position: absolute; left: calc(50% - 20px); bottom: -20px;}
.articleNavi {margin: 60px 0px 35px 0px;}

.darkTheme .bg_gradation_wh {display: none;}