.introduction {padding: 15px 0px;}
.slider_box {width: calc(100% - 60px); margin: 0px 0px 0px 30px;}
.slider_box .slider {height: calc(100vw + 10px);}
.slider_box .slider li {height: 100%;}
.slider_box .slider .file_type {top: 45px; padding: 7px 15px; line-height: 14px; font-size: 14px;}
.slider_box .slider img {display: none; width: 100%;}
.slider_box .naviM {display: inline-block; margin: 30px 0px 0px 15px; text-align: left;}
.slider_box p {margin: 30px 15px 0px 0px; line-height: 17px; color: #434b52; font-size: 17px; font-weight: 900;}
.slider_box p span {color: #434b52; font-size: 17px; font-weight: 900;}
.slider_box .ico_plusLight {top: 35px; left: -30px; width: 60px; height: 60px;}
.slider_box .ico_plusLight:before {width: 20px; height: 4px;}
.slider_box .ico_plusLight:after {width: 20px; height: 4px;}
.slider_box .introduction_drive {right: 35px; bottom: 110px;}
.dl_introduction {display: block; width: calc(100% - 60px); margin: 80px auto 0px;}
.dl_introduction .dd {margin: 30px 0px 0px 0px;}

/* slider_group */
.m_ct {position: relative; padding: 40px 20px 50px;}
.m_ct .top_menu, .m_ct .article_tlt01, .m_ct .article_sub_tlt01 {padding: 0px 20px;}
.article_tlt01 {margin: 35px 0px 0px 0px; background: url(../images/ico_arr_sortDownM_gr.png) no-repeat calc(100% - 20px) 50%;}
.article_tlt01 h2 {font-size: 40px;}
.article_tlt01 h2 span {line-height: 18px; font-size: 16px;}
.article_tlt01 h2 span em {color: #478cd0; font-size: 16px;}
.article_sub_tlt01 {margin: 35px 0px 0px 0px;}
.article_sub_tlt01 > span {font-size: 16px;}
.article_sub_tlt01 .subMenu {right: 10px;}

.slide_area {overflow: hidden; position: absolute; top: 280px; left: 0px; width: 100%; height: 220px;}
.slider_group {position: absolute; top: 0px; left: 90px; white-space: nowrap;}
.slider_group .slider_box {width: 135px;}
.slider_group .slider_box .slider {height: 170px;}

.dl_group {margin: 270px 0px 0px 0px;}
.dl_group li .dl_box {display: block; position: relative; padding: 20px 25px; border-radius: 10px;}
.dl_group li.active .dl_box {background: linear-gradient(rgba(40, 117, 201, 0.89), rgba(51, 131, 209, 0.89)); box-shadow: 0px 8px 16px 0px rgba(44,125,206,0.32);}
.dl_group li.active .dl_box .text_gauge {color: #dde9f5;}
.dl_group li.active .dl_box .dd {color: #94c3f4;}

.darkTheme .dl_group li.active .dl_box { box-shadow: none}

.dl_box .text_gauge {line-height: 35px; color: #657d95; font-size: 32px; font-weight: 300;}
.dl_box .text_gauge.side02 {padding: 0px 20px 0px 0px;}
.dl_box .dd {font-size: 13px; font-weight: normal; text-transform: none;}
.dl_box button {position: absolute; top: 50%; right: 25px; transform: translate(0%, -50%);}

.slider_group .slider_box .ico_plusLight {top: 15px; left: -11px; width: 22px; height: 22px;}
.slider_group .slider_box .ico_plusLight:before {width: 8px; height: 2px;}
.slider_group .slider_box .ico_plusLight:after {width: 8px; height: 2px;}

.slider_group .slider_box .slider {box-shadow: 0px 10px 25px 0px rgba(51, 59, 69, 0.36);}
.slider_group .slider_box .slider li .file_type {top: 15px; right: 20px; padding: 3px 8px; font-size: 6px;}
.slider_group .slider_box .slider li .desc {bottom: 20px; width: 70%; white-space: pre-wrap; line-height: 22px; font-size: 18px; text-align: left;}

.logo {display: block; margin: 40px 0px 0px 0px; text-align: center;}
.logo img {width: 170px;}
.btn_scrolltop {bottom: 0%; left: 50%; transform: translate(-50%, 50%);}

@media all and (max-width: 475px) {
    .slider_box .ico_plusLight {top: 20px; left: -20px; width: 40px; height: 40px;}
    .slider_box .ico_plusLight:before {width: 14px; height: 3px;}
    .slider_box .ico_plusLight:after {width: 14px; height: 3px;}

    .dl_introduction {margin: 50px auto 0px;}
}