.menu_box {margin: 30px 0px 0px 0px;}
.article_tlt01 {margin: 60px 0px 0px 0px; padding: 0px 40px;}
.article_tlt01 .refresh {right: 55px;}
.contents_info {margin: 70px 0px 0px 0px; padding: 0px 40px;}
.dl_info:before {border-left-color: #cfd7db;}
.cont {position: relative; margin: 50px 5px 0px; text-align: center;}
.cont:before {content: ''; display: block; position: absolute; top: 0%; left: 50%; transform: translate(-50%, 0%); width: calc(100% - 40px); height: 2px; background-color: rgba(201,209,216,0.29);}
.cont:after {content: ''; display: block; position: absolute; bottom: 0%; left: 50%; transform: translate(-50%, 0%); width: calc(100% - 40px); height: 2px; background-color: rgba(201,209,216,0.29);}

.cont .theme1701 {overflow: auto; height: 650px; padding: 0px 20px;}
.cont .theme1701 li + li {border-top: 2px solid rgba(201, 209, 216, 0.29);}
.cont .theme1701 li.active .dl_info {color: rgba(101,125,149,0.75);}
.cont .theme1701 .dl_info {margin: 5px; padding: 10px;}
.cont .theme1701 .dl_info:before {right: 0px;}
.cont .theme1702 {margin: 0px 20px; padding: 0px 15px; border-top: 2px solid rgba(201, 209, 216, 0.29);}
.cont .theme1702 .dl_info, .cont .theme1702 .price {display: inline-block;  width: 49%; padding: 45px 0px 0px 0px; vertical-align: middle;}
.cont .theme1702 .dl_info:before {display: none;}
.cont .theme1702 .dl_info .dd em {display: block;}
.price {text-align: right; color: #438bd3; font-size: 70px; font-weight: 300;}

.btn_upgrade {width: 185px; margin: 50px 0px 25px 0px;}
.btn_upgrade > a {font-size: 20px; padding: 10px 0px;}
.logo {margin: 40px 0px 0px 0px;}

.my_product {text-align: center;}

.notifications {overflow: hidden; position: relative; padding-bottom: 200px; text-align: center; background-image: url(../images/bg_gragh.png); background-repeat: no-repeat; background-position: 0% 100%; background-size: contain;}
.notifications .logo {position: absolute; bottom: 5px; left: calc(50% - 87px);}

@media all and (max-width: 475px) {
    .notifications {padding-bottom: 150px;}
    .menu_box {margin: 15px 0px 0px 0px;}
    .cont {margin: 30px 5px 0px;}
    .cont:before {width: calc(100% - 30px);}
    .cont:after {width: calc(100% - 30px);}
    .cont .theme1701 {padding: 0px 15px;}
    .cont .theme1702 {margin: 0px 15px;}
    .article_tlt01 {margin: 40px 0px 0px 0px;}
    .article_tlt01 h2 {line-height: 35px;}
    .article_tlt01 h2 span {font-size: 18px;}
    .article_tlt01 h2 span > em {font-size: 18px;}
    .article_tlt01 .refresh {right: 35px;}
    .article_tlt01, .contents_info {padding: 0px 25px;}
    .contents_info {margin: 40px 0px 0px 0px;}
}