/* page, page_sub 공통 */
.m_ct {padding: 50px 30px 50px 25px;}
.article_tlt01, .article_tlt02 {padding: 0px 0px 0px 40px;}
form {margin: 50px 0px 0px 0px;}
.cont > li {margin: 45px 0px 0px 0px;}
.cont > li.active .dl_coment {background-image: url(../images/ico_arrLeft_bl.png);}
.cont > li.active .dl_coment .dd {color: #4087d1;}
.cont > li.active .content {display: block;}
.cont > li .content_tlt {position: relative;}
.cont > li .content_tlt .dl_coment {display: inline-block; width: calc(100% - 27px); vertical-align: middle;}
.cont > li .content_tlt .dl_coment .dd {width: 90%;}
.cont > li .content_tlt .menu {display: inline-block; vertical-align: middle;}
.cont > li .content {position: relative; display: none; margin: 35px 0px 0px 40px;}
.cont > li .content .dl_box {margin: 0px 0px 0px 35px;}
.cont > li .content .dl_box .dt {font-size: 15px;}
.cont > li .content .dl_box .dd {line-height: 18px; font-size: 11px;}
.cont > li .content .dl_box .dd em {font-size: 11px;}
.cont > li .content .ico_notice {top: calc(50% - 15px);}

/* pg comments */
.comments .cont > li + li {padding: 45px 0px 0px 0px; border-top: 1px dotted #000;}

/* sub attachments */
.attachments {padding: 15px 35px;}
.attachments .article_tlt02 {padding: 35px 0px 25px 40px;}
.attachments .article_tlt02 .menu {top: auto; right: 30px; bottom: 25px;}
.attachments .cont li {position: relative; margin: 0px;}
.attachments .cont li.active .dl_img {background-color: rgba(228, 233, 236, 0.2);}
.attachments .cont li.active .img_box {background-image: url(../images/ico_docM_bl.png);}
.attachments .cont li .dl_img {display: block; padding: 30px 7px;}
.attachments .cont .dl_img {background-position: 10px 50%;}
.attachments .cont .img_box {width: 45px; height: 40px; margin: 0px 0px 0px 35px; background: url(../images/ico_docM_gr.png) no-repeat 50% 50%; background-size: cover;}
.attachments .cont .img_box img {display: none;}
.attachments .cont .dl_basic {width: 170px; margin: 0px 0px 0px 20px;}
.attachments .cont .dl_basic .dt {line-height: 25px; font-size: 15px; font-weight: 500;}
.attachments .cont .dl_basic .dd {letter-spacing: 0px; font-weight: 500;}
.attachments .cont .close {position: absolute; top: calc(50% - 20px); right: 30px;}

.darkTheme.attachments .cont li.active .dl_img {background: linear-gradient(rgba(40, 117, 201, 0.89), rgba(73, 143, 212, 0.89));}
.darkTheme.attachments .cont li.active .img_box {background-image: url(../images/ico_docM_gr.png);}
.darkTheme.attachments .cont li.active .dl_basic .dt {color: #96c4f2;}
.darkTheme.attachments .cont li.active .dl_basic .dd {color: #fff;}
.darkTheme.attachments .cont .img_box {background-image: url(../images/ico_docM_bl.png);}