//page
.page01 {
    position: relative;
    text-align: center;

    .gauge_box {
        margin: 55px 0px 0px 0px;
    }

    .dl_box {
        display: block;
        margin: 40px 0px 0px 0px;
        padding: 0px;

        .dt {
            font-size: 23px;
        }

        .dd {
            margin: 5px 0px 0px 0px;
            font-size: 13px;
            letter-spacing: 1px;
        }
    }

    .user_box {
        margin: 55px 50px 5px;
        padding: 35px 0px 0px 0px;
    }

    .ico_plus.icoPlusS.gr {
        position: absolute;
        top: 45px;
        left: 50px;
    }

    .ico_notice {
        top: 45px;
        right: 50px;
    }
}

.page02 {
    text-align: center;

    .Theme08 {
        padding: 20px 0px 0px 0px;
    }

    .cont {
        margin: 50px 5px 0px;
        border-top: 2px solid rgba(201,209,216,0.29);
        border-bottom: 2px solid rgba(201,209,216,0.29);
        text-align: center;

        .theme1701 {
            overflow: auto;
            height: 650px;
            padding: 0px 25px;

            li + li {
                border-top: 2px solid rgba(201,209,216,0.29);
            }

            .dl_info {
                padding: 25px 20px;

                &:before {
                    right: 20px;
                }

                .dd {
                    margin: 10px 0px 0px 0px;
                }
            }
        }

        .theme1702 {
            display: table;
            width: 100%;
            padding: 0px 45px;
            border-top: 2px solid rgba(201,209,216,0.29);
        
            .dl_info, .price {
                padding: 45px 0px 0px 0px;
                display: table-cell;
                vertical-align: middle;
            }
        
            .dl_info {
                &:before {
                    display: none;
                }
        
                .dd {
                    margin: 10px 0px 0px 0px;
        
                    em {
                        display: block;
                    }
                }
            }
        
            .price {
                text-align: right;
                color: #438bd3;
                font-size: 70px;
                font-weight: 300;
            }
        }
    }

    .btn_upgrade {
        width: 185px;
        margin: 50px 0px 25px 0px;
    
        > a {
            font-size: 20px;
            padding: 10px 0px;
        }
    }

    .logo {
        margin: 40px 0px 0px 0px;
    }
}

.page03 {
    padding: 50px 30px 50px 25px;

    .article_tlt01, .article_tlt02 {
        padding: 0px 0px 0px 40px;
    }

    form {
        margin: 50px 0px 0px 0px;
    }

    .cont {
        > li {
            margin: 45px 0px 0px 0px;

            &.active {
                .dl_coment {
                    background-image: url(../images/ico_arrLeft_bl.png);
            
                    .dd {
                        color: #4087d1;
                    }
                }
    
                .content {
                    display: block;
                }
            }

            .content_tlt {
                position: relative;

                .dl_coment {
                    display: inline-block;
                    width: calc(100% - 27px);
                    vertical-align: middle;

                    .dd {
                        width: 90%;
                    }
                }

                .menu {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .content {
                position: relative;
                display: none;
                margin: 35px 0px 0px 40px;

                .dl_box {
                    margin: 0px 0px 0px 35px;

                    .dt {
                        font-size: 15px;
                    }

                    .dd {
                        line-height: 18px;
                        font-size: 11px;

                        em {
                            font-size: 11px;
                        }
                    }
                }

                .ico_notice {
                    top: calc(50% - 15px);
                }
            }
        }
    }
}

.page04 {
    overflow: hidden;
    position: relative;
    padding-bottom: 200px;
    background-image: url(../images/bg_gragh.png);
    background-repeat: no-repeat; 
    background-position: 0% 100%;
    text-align: center;

    .Theme08 {
        padding: 5px 0px;
    }
    
    .article_tlt01 {
        margin: 60px 0px 0px 0px;
        padding: 0px 40px;

        .refresh {
            right: 55px;
        }
    }
    
    .contents_info {
        margin: 70px 0px 0px 0px;
        padding: 0px 40px;
    }

    .cont {
        margin: 50px 5px 0px;
        border-top: 2px solid rgba(201,209,216,0.29);
        border-bottom: 2px solid rgba(201,209,216,0.29);
        text-align: center;

        .theme1701 {
            overflow: auto;
            height: 650px;
            padding: 0px 25px;

            li + li {
                border-top: 2px solid rgba(201,209,216,0.29);
            }

            .dl_info {
                padding: 25px 20px;

                &:before {
                    right: 20px;
                }

                .dd {
                    margin: 10px 0px 0px 0px;
                }
            }
        }

        .theme1702 {
            display: table;
            width: 100%;
            padding: 0px 45px;
            border-top: 2px solid rgba(201,209,216,0.29);
        
            .dl_info, .price {
                padding: 45px 0px 0px 0px;
                display: table-cell;
                vertical-align: middle;
            }
        
            .dl_info {
                &:before {
                    display: none;
                }
        
                .dd {
                    margin: 10px 0px 0px 0px;
        
                    em {
                        display: block;
                    }
                }
            }
        
            .price {
                text-align: right;
                color: #438bd3;
                font-size: 70px;
                font-weight: 300;
            }
        }
    }

    .logo {
        position: absolute;
        bottom: 5px;
        left: calc(50% - 87px);
    }
}

.page05 {
    .slider_box + .slider_box {
        margin: 0px 0px 0px 32px;
    }

    .slider_box {
        width: 200px;

        .slider {
            height: 260px;
        }
    }
}

.page06 {
    background-color: rgba(255,255,255,0.6);

    .article_tlt02 {
        padding: 35px 0px 25px 40px;
        // margin: 50px 0px 0px 0px;

        .menu {
            top: auto;
            right: 30px;
            bottom: 25px;
        }
    }

    .cont {
        li {
            position: relative;

            &.active {
                > a {
                    background-color: rgba(228,233,236,0.2);
                }

                .img_box {
                    background-image: url(../images/ico_docM_bl.png);
                }
            }

            > a {
                display: block;
                padding: 30px 7px;
            }
        }

        .dl_img {
            background-position: 10px 50%;
        }

        .img_box {
            width: 45px;
            height: 40px;
            margin: 0px 0px 0px 35px;
            background: url(../images/ico_docM_gr.png) no-repeat 50% 50%;
            background-size: cover;

            img {
                display: none;
            }
        }

        .dl_basic {
            width: 170px;
            margin: 0px 0px 0px 20px;

            .dt {
                font-size: 15px;
                font-weight: 500;
            }

            .dd {
                letter-spacing: 0px;
                font-weight: 500;
            }
        }

        .close {
            position: absolute;
            top: calc(50% - 20px);
            right: 30px;
        }
    }
}

// page
.introduction {
    padding: 15px 0px;

    .slider_box {
        width: calc(100% - 60px);
        margin: 0px 0px 0px 30px;

        .slider {
            height: 505px;

            li {
                height: 100%;
            }

            .file_type {
                top: 45px;
                padding: 7px 15px;
                line-height: 14px;
                font-size: 14px;
            }

            img {
                display: none;
                width: 100%;
            }
        }

        .naviM {
            display: inline-block;
            margin: 30px 0px 0px 15px;
            text-align: left;
        }

        p {
            margin: 30px 15px 0px 0px;
            line-height: 17px;
            color: #434b52;
            font-size: 17px;
            font-weight: 900;

            span {
                color: #434b52;
                font-size: 17px;
                font-weight: 900; 
            }


        }

        .ico_plusLight {
            top: 35px;
            left: -30px;
            width: 60px;
            height: 60px;
        
            &:before {
                width: 20px;
                height: 4px;
            }
        
            &:after {
                width: 20px;
                height: 4px;
            }
        }

        .introduction_drive {
            right: 35px;
            bottom: 110px;
        }
    }

    .dl_introduction {
        display: block;
        width: calc(100% - 60px);
        margin: 80px auto 0px;

        .dd {
            margin: 30px 0px 0px 0px;
        }
    }
}

.page07 {
    .m_ct {
        position: relative;
        padding: 35px 40px;
    }

    .cont {
        margin: 40px 0px 0px 0px;
        padding: 0px 20px;
    } 

    .text_gauge_box {
        margin: 0px;

        .text_gauge {
            color: #2e3039;
            font-size: 100px;
        }

        p {
            width: 170px;
            margin: 25px 0px 0px 0px;
            line-height: 33px;
            color: #2e3039;
            font-size: 27px;
        }
    }

    .gragh_box {
        margin: 50px 0px 0px 0px;

        .gragh_term {
            padding: 0px 30px 0px 0px;
        }
    
        .bar_gragh {
            display: flex;
            justify-content: space-between;
            height: 135px;
            margin: 10px 0px 0px 0px;
    
            .bar {
                width: 20px;
            }

            .progress_bar {
                em {
                    display: block;
                    margin: 15px 0px 0px 0px;
                    color: #2e3039;
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: capitalize;
                }

                span {
                    display: block;
                    color: #c9d1d8;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 3px;
                }
            }
        }

        .gragh_indi {
            margin: 80px 0px 0px 0px;

            span:first-child {
                &:before {
                    background-color: #317fcb;
                }
            }

            span:nth-child(2) {
                &:before {
                    background-color: #c9d1d8;
                }
            }
        }
    }

    .btn_scrolltop {
        left: calc(50% - 20px);
        bottom: -20px;
    }

    .navi {
        margin: 35px 0px;
    }
}

.page08 {
    .m_ct {
        position: relative;
        padding: 35px 25px;
    }

    .top_menu {
        padding: 0px 10px;
    }

    .bg_gradation_wh {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }

    .btn_scrolltop {
        position: absolute;
        left: calc(50% - 20px);
        bottom: -20px;
    }

    .articleNavi {
        margin: 60px 0px 35px 0px;
    }
}