body {
    background: #ecf0f2;
    > div, > ul, >a {
        margin-top: 40px;
    }
}


// recent_comments
.white_Theme01 {
    width: 100%;
    padding: 15px 0px;
    background: url(../images/ico_exclamation_reminder.png) no-repeat 100% 0%;

    .text_gauge {
        color: #434b52;
        vertical-align: middle;
    }

    .dl_box {
        display: inline-block;
        padding: 0px 0px 0px 15px;
        line-height: 15px;
        color: #434b52;
        vertical-align: middle;

        .dt {
            font-size: 12px;
            font-weight: bold;
            text-transform: capitalize;
        }

        .dd {
            display: block;
            color: #86929d;
            font-size: 9px;
            font-weight: 900;
            text-transform: uppercase;

            em {
                font-size: 9px;
                font-weight: 900;
            }
        }
    }
}

.white_Theme01.midium {
    width: 430px;
    height: 125px;
    padding: 0px;

    .dl_box {
        padding: 0px 0px 0px 45px;

        .dt {
            font-size: 20px;
        }

        .dd {
            padding: 5px 0px 0px 0px;
            font-size: 15px;

            em{
                font-size: 15px;
            }
        }
    }
}

.white_Theme01.large {
    position: relative;
    width: 100%;
    padding: 45px 50px 40px;
    text-align: center;
    border-radius: 17px;
    background-image: url(../images/ico_exclamation_reminderM.png);
    background-position: calc(100% - 50px) 45px;
    background-color: rgba(255,255,255,0.67);

    .gauge_box {
        margin: 50px 0px 0px 0px;
    }

    .dl_box {
        display: block;
        margin: 40px 0px 0px 0px;
        padding: 0px;

        .dt {
            font-size: 23px;
        }

        .dd {
            margin: 5px 0px 0px 0px;
            font-size: 13px;
            letter-spacing: 1px;
        }
    }

    .ico_plus.small.gr {
        position: absolute;
        top: 45px;
        left: 50px;
    }

    .recomended_p {
        margin: 55px 0px 0px 0px;
        padding: 35px 0px 0px 0px;
    }
}

.text_gauge {
    display: inline-block;
    line-height: 40px;
    font-size: 48px;
    font-weight: bold;
}

.text_gaugeL {
    display: inline-block;
    line-height: 68px;
    color: #657d95;
    font-size: 68px;
    font-weight: 300;
}

.text_gauge.side01 {
    padding: 0px 0px 0px 20px;
    background: no-repeat 0% 50%;
}

.text_gauge.side02 {
    padding: 0px 35px 0px 0px;
    background: no-repeat 100% 50%;
}

.text_gaugeL.side02 {
    padding: 0px 35px 0px 0px;
    background: no-repeat 100% 50%;
}

.gauge_box {
    display: inline-block;
    position: relative;
    width: 116px;
    height: 116px;
    border: 14px solid rgba(159, 173, 185, 0.2);
    border-radius: 50%;
    text-align: center;

    .gauge_bar {
        position: absolute;
        width: 58px;
        height: 116px;
        top: -14px;
        left: -14px;
        border-radius: 58px 0px 0px 58px;
        // border: 2px solid rgba(236, 240, 242, 0.8);
        background-color: #3287db;
        transform: rotate(80deg);
        transform-origin: 100% 50%;
        box-shadow: 10px 4px 13px 0px  rgba(50,129,208,0.35);

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            right: 0%;
            transform: translate(50%, -100%);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #3287db;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0%;
            right: 0%;
            transform: translate(50%, 0%);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #3287db;
        }
    }

    .total {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background-color: #fff;

        span {
            display: block;
            padding: 38px 0px 0px 0px;
            color: #434b52;
            font-size: 45px;
            font-weight: bold;
        }
    }

    .status {
        display: inline-block;
        position: relative;
        top: calc(50% + 17px);
        left: calc(100% - 32px);
        text-align: center;

        > div {
            display: inline-block;
            padding: 8px 11px;
            border: 4px solid rgba(234,236,238,0.81);
            border-radius: 22px;
            line-height: 15px;
            background-color: #3287db;
            box-shadow: 0px 4px 13px 0px rgba(50,129,208,0.35);
            color: #dde8f3;
            font-size: 16px;
            font-weight: 900;
        }

        > span {
            display: block;
            margin: 5px 0px 0px 0px;
            color: #434b52;
            font-size: 11px;
            font-weight: 900;
        }
    }
}

.gauge_box.large {
    display: inline-block;
    width: 154px;
    height: 154px;
    border-width: 18px;

    .gauge_bar {
        top: -18px;
        left: -18px;
        width: 77px;
        height: 154px;
        border-radius: 77px 0px 0px 77px;

        &:before {
            width: 18px;
            height: 18px;
        }

        &:after {
            width: 18px;
            height: 18px;
        }
    }

    .total {
        width: 118px;
        height: 118px;

        span {
            padding: 54px 0px 0px 0px;
        } 
    }

    .status {
        left: calc(100% - 42px);

        span {
            color: #86929d;
            letter-spacing: 1px;
        }
    }
}

.recomended_p {
    border-top: 2px dotted #c3cbd8;
    
    > li + li {
        margin: 0px 0px 0px 15px;
    }

    > li {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 42px;
        height: 42px;
        border-radius: 50%;

        > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.white_Theme03 {
    position: relative;
    width: 360px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(49,139,237,0.89), rgba(60,151,240,0.89));

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 10px;
        height: 10px;
        border: 5px solid transparent;
        border-top-color: rgba(60,151,240,0.89);
        box-sizing: border-box;
    }

    li + li {
        border-left: 1px solid #7fc0ff;
    }

    li {
        float: left;
        width: 25%;
        height: 100%;
        padding: 0px 6px;
        text-align: center;

        a {
            display: block;
            height: 100%;
        }

        img {
            vertical-align: bottom;
        }
    }

    li:nth-child(3) {
        img {
            vertical-align: middle;
        }
    }
}

.white_Theme04 {
    width: 235px;
    padding: 25px 0px;
    text-align: center;
    border-radius: 37px;
    background: linear-gradient(100deg, rgba(51,129,205,1), rgba(63,144,224,1));
    box-shadow: 0px 5px 19px 0px rgba(51,129,205,0.4);

    > span {
        color: #f7f9fa;
        font-size: 20px;
        vertical-align: middle;
    }

    .switch {
        display: inline-block;
        position: relative;
        width: 35px;
        height: 10px;
        margin: 0px 0px 0px 25px;
        border-radius: 5px;
        background-color: #296fb6;
        vertical-align: middle;

        &.active {
            .track {
                width: 100%;
            }

            .track_thumb {
                left: calc(100% - 13px);
            }
        }

        .track {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            border-radius: 5px;
            background-color: #ecf0f2;
            transition: width 0.2s;
        }

        .track_thumb {
            position: absolute;
            top: -8px;
            left: -13px;
            width: 26px;
            height: 26px;
            border-radius: 13px;
            background-color: #ecf0f2;
            box-shadow: 10px 0px 20px 0px rgba(14,62,110,0.33);
            transition: left 0.2s;
        }
    }
}

.white_Theme05 {
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.09);

    > img {
        position: relative;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 85px;
        max-height: 85px;
    }

    .slider {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, 0%);
    }

    .sync {
        position: absolute;
        top: 0%;
        right: 0%;
        transform: translate(50%, -50%);
    }

    .text_st01 {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, 0%);
    }
}

.white_Theme05.midium {
    width: 155px;
    height: 155px;
}

.white_Theme05.small {
    width: 130px;
    height: 130px;

    .text_st01 {
        bottom: 20px;
    }
}

.white_Theme05.only_icon {
    > img {
        top: 50%;
        left: 50%;
        max-width: 65px;
        max-height: 60px;
    }
}

.white_Theme05.midium.color_ver {
    background: linear-gradient(rgba(40,117,201,0.89), rgba(51,131,209,0.89));
    box-shadow: 0px 12px 24px 0px rgba(44,125,206,0.32);
}

.slider.color_ver {
    width: 85px;
    bottom: 25px;
    background-color: #1f72c3;

    .progress_bar {
        background-color: #f5f7f8;
        box-shadow: 0px 3px 4px 0px rgba(46,127,208,0.26);
    }
}



.menu_item {
    display: inline-block;

    .dl_basic {
        margin: 20px 0px 0px 0px;
        text-align: center;

        dd {
            margin: 5px 0px 0px 0px;
            font-size: 12px;
        }
    }
}

.dl_basic {
    dt {
        line-height: 18px;
        color: #434b52;
        font-size: 15px;
    }

    dd {
        line-height: 12px;
        color: #96a7bb;
        font-size: 9px;
        font-weight: 900;
        letter-spacing: 1px ;

        span {
            font-weight: 900;
        }

        &.active_remindCc {
            position: relative;
            padding: 0px 0px 0px 8px;

            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translate(-50%, -50%);
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: #3383d2;
                box-shadow: 0px 6px 13px 0px rgba(44,127,211,0.43);
            }
        }

    }

    .bold {
        font-weight: bold;

        em {
            font-weight: bold;
        }
    }
}

.dl_basic.color_ver {
    dt {
        color: #1f76cd;
        font-weight: bold;
    }
}

.slider {
    position: relative;
    width: 90px;
    height: 8px;
    border-radius: 4px;
    background-color: #ecf0f2;

    .progress_bar {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 20%;
        height: 100%;
        border-radius: 4px;
        background-color: rgb(50,131,211);
        box-shadow: 0px 2px 9px 0px rgba(44,127,211,0.43);
    }
}

.sync {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    text-align: center;
    background-color: rgb(232,238,241);
    z-index: 10;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 62px;
        height: 62px;
        border-radius: 31px;
        background-color: rgb(28,115,200);
        box-shadow: 0px 6px 13px 0px rgba(44,127,211,0.43);
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    em {
        display: block;
        position: relative;
        line-height: inherit;
        color: #dde8f3;
        font-weight: 900;
    }
}

.sync.midium {
    width: 70px;
    height: 70px;
    border-radius: 35px;

    &:before {
        width: 52px;
        height: 52px;
        border-radius: 26px;
    }

    em {
        padding: 23px 0px 0px 0px;
    }
}

.sync.small {
    width: 33px;
    height: 33px;
    border-radius: 16px;

    &:before {
        width: 43px;
        height: 43px;
        border-radius: 21px;
    }

    em {
        padding: 5px 0px 0px 0px;
        font-size: 15px;
    }
}

.sync.xssmall {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 16px;

    &:before {
        width: 22px;
        height: 22px;
        border-radius: 11px;
    }

    em {
        padding: 5px 0px 0px 0px;
        font-size: 11px;
    }
}

.sync.circle {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background-color: rgb(28,115,200);
    box-shadow: 0px 6px 13px 0px rgba(44,127,211,0.43);

    &:before {
        display: none;
    }
}

.sync.square {
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 10px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: rgb(28,115,200);
    box-shadow: 6px 6px 13px 0px rgba(44,127,211,0.43);

    &:before {
        display: none;
    }

    img {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.sync.square.small {
    width: 13px;
    height: 13px;
    margin: 0px 0px 0px 4px;
    box-shadow: 3px 3px 6px 0px rgba(44,127,211,0.43);
}

.sync.info.gr.mobile {
    width: 50px;
    height: 25px;
    line-height: 25px;
    background-color: transparent;

    &:before {
        width: 100%;
        height: 100%;
        box-shadow: none;
        background-color: #cfd7db;
    }
    
    em {
        font-size: 14px;
        color: #fefefe;
    }
}

.ico_plus {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(54,147,239,0.89);

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 6px;
        border-radius: 4px;
        background-color: #f2f9ff;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 30px;
        height: 6px;
        border-radius: 4px;
        background-color: #f2f9ff;
    }
}

.ico_plus.midium {
    width: 42px;
    height: 42px;
    color: #3884cf;

    &:before {
        width: 14px;
        height: 4px;
        border-radius: 2px;
    }

    &:after {
        width: 14px;
        height: 4px;
        border-radius: 2px;
    }
}

.ico_plus.small {
    width: 34px;
    height: 34px;

    &:before {
        width: 14px;
        height: 4px;
        border-radius: 2px;
    }

    &:after {
        width: 14px;
        height: 4px;
        border-radius: 2px;
    }
}

.ico_plus.small.gr {
    background-color: #e5eaec;
}

.ico_plus.small.light {
    opacity: 0.89;
    box-shadow: 0px 6px 13px 0px rgba(44, 127, 211, 0.43);

    &:before {
        width: 12px;
        height: 2px;
        border-radius: 0px;
    }

    &:after {
        width: 12px;
        height: 2px;
        border-radius: 0px;
    }

    &.ico_active {
        background-color: #fff;
        transform: rotate(45deg);

        &:before {
            background-color: #4384c4;

        }

        &:after {
            background-color: #4384c4;

        }
    }
}


.text_st01 {
    color: #9fadba;
    font-size: 15px;
}

// white_Theme06
.white_Theme06 {
    width: 100%;
    height: 100px;
    padding: 35px 0px 0px 35px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0.84);
    box-shadow: 2px 13px 18px 0px rgba(186,202,210,0.3);

    .img_box, dl {
        display: inline-block;
        vertical-align: middle;
    }

    .img_box {
        width: 35px;
        height: 30px;
    }

    .dl_basic {
        height: 30px;
        margin: 0px 0px 0px 10px;
     }

    .f_upl_date {
        dt {
            font-weight: bold;
        }

        dd {
            color: #5ba7f4;

            span {
                letter-spacing: 0px;
            }
        }
    }
}

.white_Theme06.bd_dash {
    border: 2px dashed #cbd2df;
    box-shadow: none;

    dl {
        dd {
            color: #96a7bb;

            span {
                color: #ccd4dc ;
            }
        }
    }
}

.white_Theme06.midium {
    width: 390px;
    height: 150px;
    padding: 50px 0px 0px 45px;
    border-radius: 20px;

    .img_box {
        width: 65px;
    }

    .dl_basic {
        dt {
            font-size: 21px;
            font-weight: 900;
        }

        dd {
            overflow: hidden;
            width: 180px; 
            max-height: 36px;
            margin: 8px 0px 0px 0px;
            line-height: 18px;
            color: #434b52;
            font-size: 15px;
            font-weight: normal;
            letter-spacing: 0px;
        }
    }

    .menu {
        float: right;
        margin: 13px 35px 0px 0px;
    }
}

.white_Theme06.midium.color_ver {
    background: linear-gradient(rgba(40, 117, 201, 0.89), rgba(51, 131, 209, 0.89));

    .dl_basic {
        dt {
            color: #fff;
        }

        dd {
            color: #fff;
            font-weight: 300;
        }
    }
}

// white_Theme07
.drive_storage_box {
    width: 100%;
    height: 95px;
    text-align: center;

    > li + li {
        border-left: 2px dotted rgba(39,98,155,0.1);
    }

    > li {
        display: inline-block;
        width: 24%;
        height: 100%;

        .content_box {
            display: inline-block;
            position: relative;
            margin: 25px 0px 0px 0px;

            img {
                vertical-align: middle;
            }

            .sync.square.small {
                position: absolute;
                right: auto;
                bottom: 100%;
                left: 100%;
            }
        }
    }    
}

// white_Theme08
.white_Theme08 {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
        width: 28px;
    }

    .srch, .upload, .mail, .menu {
        width: 28px;
    }
}

.srch, .upload, .mail, .menu, .refresh {
    display: inline-block;
    text-align: center;

    a {
        display: inline-block;
        width: 100%;
        vertical-align: middle;

        img {
            vertical-align: middle;
        }
    }
}



.mail {
    position: relative;

    .sync {
        position: absolute;
        top: 0%;
        right: 0%;
        transform: translate(50%, -50%);
    }
}

// white_Theme17
.dl_info + .dl_info {
    border-top: 2px solid rgba(201,209,216,0.29);
}

.dl_info.gr {
    &:before {
        border-left-color: #cfd7db;
    }
}

.dl_info {
    display: block;
    position: relative;
    text-align: left;
    color: #657d95;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translate(0%, -50%);
        border: 6px solid transparent;
        border-left-color: #2c7dce;
    }

    .dt {
        display: block;
        font-size: 34px;
        font-weight: 300;
    }

    .dd {
        display: block;
        font-size: 18px;
        font-weight: 300;

        > em {
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.dl_info_inUse {
    display: table;
    width: 100%;
    border-top: 2px solid rgba(201,209,216,0.29);

    .dl_info, .price {
        display: table-cell;
        vertical-align: middle;
    }

    .dl_info {
        border: none;

        &:before {
            display: none;
        }
    }

    .price {
        text-align: right;
        color: #438bd3;
        font-size: 70px;
        font-weight: 300;
    }
}


.upgrade_now {
    display: inline-block;
    text-align: center;

    a {
        display: block;
        color: #657d95;
        border-radius: 45px;
        text-transform: capitalize;

        &.bg_on {
            color: #fff;
            background: linear-gradient(rgba(40, 117, 201, 0.89), rgba(51, 131, 209, 0.89));
        }
    }
}

.white_Theme17 {
    position: relative;
    padding: 55px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(254,254,254,0.96);

    .contents {
        overflow: auto;
        height: 660px;
        margin: 50px 0px 0px 0px;
        padding: 0px 0px 30px 0px;
        border-top: 2px solid rgba(201,209,216,0.29);
        border-bottom: 2px solid rgba(201,209,216,0.29);
    }
}

.white_Theme17.mobile {
    width: 100%;

    .white_Theme08 {
        padding: 0px 0px 0px 10px;
    }

    .logo {
        margin: 45px 0px 0px 0px;
    }
} 


.dl_info.mobile {
    padding: 25px 10px;

    .dd {
        margin: 10px 0px 0px 0px;
    } 
}

.dl_info_inUse.mobile {
    padding: 45px 10px;

    .dl_info {
        width: 245px;

        .dd {
            margin: 15px 0px 0px 0px;
        }
    }
}

.upgrade_now.mobile {
    width: 185px;

    > a {
        padding: 15px 0px;
    }
}

.logo {
    padding: 10px 0px;
}

.bg_gragh {
    background: url(../images/bg_gragh.png) no-repeat 0% 100%;
}

.data_gragh {
    display: inline-block;
    width: 100%;
    height: 100px;
    padding: 0px;
}

.data_gragh.da_mobile {
    width: 380px;

    > div {
        vertical-align: middle;
    }

    .dl_box {
        margin: 20px 0px 0px 35px;
        padding: 0px;

        .dt {
            color: #2e3039;
            font-size: 15px;
        }

        .dd {
            width: 100%;
            line-height: 20px;
            color: #657d95;
            font-size: 11px;
            letter-spacing: 1px;

            em {
                font-size: 11px;

            }
        }
    }
}

.bar_gragh {
    display: inline-block;
    height: 100%;

    .bar + .bar {
        margin: 0px 0px 0px 10px;
    }

    .bar {
        display: inline-block;
        position: relative;
        width: 13px;
        height: calc(100% - 12px);
        border-radius: 13px;
        text-align: center;


        &.active {
            .progress_bar {
                background-color: rgba(44,125,206,0.89);

                .dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: rgba(44,125,206,0.89);
                }
            }
        }

        .progress_bar {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 100%;
            border-radius: 13px;
            background-color: rgba(201,209,216,0.89);

            > div {
                display: block;
                position: absolute;
                top: calc(100%);
                left: 50%;
                transform: translate(-50%, 0%);
                text-align: center;
            }

            .dot {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                vertical-align: middle;
                background-color: rgba(201,209,216,0.89);
            }
        }
    }
}

.white_Theme01.data_gragh {
    background-position: 100% 50%;
}

.white_Theme21 {
    background-color: rgba(254,254,254,0.96);
    border-radius: 20px;

    .menu {
        float: right;
        width: 20px;
    }

    .content_box {
        &.active {
            .dl_coment {
                background-image: url(../images/ico_arrLeft_bl.png);
        
                .dd {
                    color: #4087d1;
                }
            }

            .content {
                display: block;
            }
        }

        .content {
            display: none;
            padding: 0px 0px 0px 40px;

            .data_gragh {
                width: 100%;
            }
        }
    }
}

.white_Theme21.mobile {
    width: 100%;
    padding: 50px 30px 50px 25px;

    .theme21_tlt {
        padding: 0px 0px 0px 40px;
    }

    .dd {
        width: 90%;
    }

    .content_tlt {
        position: relative;

        > div {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0%, -50%);
        }
    }

    .content_box {
        margin: 50px 0px 0px 0px;

        .content {
            margin: 40px 0px 0px 0px;
        }
    }
}

.theme21_tlt {
    position: relative;
    line-height: 45px;

    > h2 {
        color: #2e3039;
        font-size: 40px;
        font-weight: 300;
        text-align: left;
        text-transform: capitalize;

        span {
            display: block;
            font-size: 22px;
            font-weight: 300;
            line-height: 27px;

            em {
                font-size: 22px;
                font-weight: 300;
            }
        }
    }

    > h3 {
        color: #2e3039;
        font-size: 25px;
        font-weight: 900;
        text-transform: capitalize;
    }

    > div {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
    }
}

.dl_coment {
    display: block;
    padding: 0px 0px 0px 40px;
    line-height: 24px;
    background: url(../images/ico_arrLeft.png) no-repeat 0% 50%;

    .dt {
        display: block;
        color: #2e3039;
        font-size: 15px;
        font-weight: 500;
    }

    .dd {
        display: block;
        overflow: hidden;
        max-height: 96px;
        color: #657d95;
        font-weight: normal;
    }
}

.white_Theme17.mobile {
    .white_Theme08 + .theme21_tlt {
        margin: 50px 0px 0px 0px;
        padding: 0px 10px;
    }

    .contents_info {
        margin: 70px 0px 0px 0px;
        padding: 0px 10px;
    }

    .contents {
        margin: 25px 0px 0px 0px;
    }

    .white_Theme01 {
        width: 140px;
        padding: 60px 0px 45px 0px;
        background: none;
        text-align: left;
        color: #657d95;
    }
}

.contents_info {
    display: flex;
    justify-content: space-between;
    
    > a {
        transition: margin 0.2s;

        > span {
            color: #657d95;
            font-size: 22px;
            font-weight: 300;
        }

        .sync {
            display: inline-block;
            margin: 0px 0px 0px 15px;
        }

        &.active {
            .sync.gr {
                margin: 0px 0px 0px 20px;

                &:before {
                    background-color: rgb(28,115,200);
                }
            }
        }
    }
}

.white_Theme17.t1701 {
    padding: 55px 55px 160px 55px;
    background-color: rgba(254,254,254,0.84);

    .logo {
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 0%);
    }
} 

.theme17_desc {
    color: #657d95;
    font-size: 18px;
    font-weight: 300;
}

.white_Theme22 {
    display: inline-block;
    position: relative;
}

.white_Theme22.mobile + .white_Theme22.mobile {
    margin: 0px 0px 0px 32px;
}

.white_Theme22.mobile {
    width: 200px;
    margin: 0px 0px 0px 18px;

    &.active {
        .lst {
            background-color: rgba(49,127,203,0.96);
        }

        .ico_plus {
            background-color: #fff;
            transform: rotate(45deg);
    
            &:before {
                background-color: #4384c4;
            }
    
            &:after {
                background-color: #4384c4;
            }
        }
    }

    .lst {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: calc(100%);
        height: 260px;
        background-color: rgba(157,181,198,0.96);

        > li {
            display: none;
            width: 100%;

            &.active {
                display: block;
            }

            .file_type {
                position: absolute;
                top: 30px;
                right: 30px;
            }

            .desc {
                position: absolute;
                left: 50%;
                bottom: 25px;
                transform: translate(-50%, 0%);
                line-height: 30px;
                text-align: center;
                color: #fff;
                font-size: 25px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
    }

    .navi {
        margin: 20px 0px 0px 0px;
    }

    .ico_plus {
        position: absolute;
        top: 20px;
        left: -18px;
    }
}

.file_type {
    display: inline-block;
    padding: 0px 10px;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(254,254,254,0.73);
    color: #5c7389;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

.navi {
    width: 100%;
    text-align: center;

    li + li {
        margin: 0px 0px 0px 5px;
    }

    li {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #cfd7db;

        &.active {
            background-color: #478cd0;
        }

        a {
            display: block;
        }
    }
}

.white_Theme21 {
    .white_Theme06.midium {
        width: 100%;
    }
}